*.pyc
*.swp
docs/_build
docs/build
bin/
include/
lib/
lib64/
dist/
*.egg-info/
.coverage
htmlcov/
.tox/
venv/
venv*/
build/
*.egg
.env
.ipynb_checkpoints
.cache/
tests/id_rsa
*.DS_Store
.mypy_cache/
.pytest_cache/
t.py
*.pem
/.python-version
/.tool-versions
