repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
    - id: check-added-large-files
    - id: check-toml
      types: [toml]
    - id: check-yaml
      types: [yaml]
    - id: end-of-file-fixer
      types: [text]
      stages: [commit, push, manual]
    - id: trailing-whitespace
      types: [text]
      stages: [commit, push, manual]
  - repo: https://github.com/PyCQA/isort
    rev: 5.13.2
    hooks:
    - id: isort
  - repo: https://github.com/psf/black
    rev: 24.4.0
    hooks:
    - id: black
  - repo: https://github.com/asottile/pyupgrade
    rev: v3.15.2
    hooks:
    - id: pyupgrade
      args: [--py37-plus]
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.9.0
    hooks:
    - id: mypy
      additional_dependencies:
      - types-python-dateutil
      - types-requests
      exclude: ^(docs/|tests/)
  - repo: https://github.com/jorisroovers/gitlint
    rev: v0.19.1
    hooks:
    - id: gitlint
  - repo: https://github.com/asottile/setup-cfg-fmt
    rev: v2.5.0
    hooks:
    - id: setup-cfg-fmt
      args: [--min-py3-version, '3.7']
