repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
    - id: check-added-large-files
    - id: check-toml
      types: [toml]
    - id: check-yaml
      types: [yaml]
    - id: end-of-file-fixer
      types: [text]
      stages: [pre-commit, pre-push, manual]
    - id: trailing-whitespace
      types: [text]
      stages: [pre-commit, pre-push, manual]
  - repo: https://github.com/PyCQA/isort
    rev: 7.0.0
    hooks:
    - id: isort
  - repo: https://github.com/psf/black-pre-commit-mirror
    rev: 25.12.0
    hooks:
    - id: black
  - repo: https://github.com/asottile/pyupgrade
    rev: v3.21.2
    hooks:
    - id: pyupgrade
      args: [--py37-plus]
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.19.1
    hooks:
    - id: mypy
      additional_dependencies:
      - types-python-dateutil
      - types-requests
      exclude: ^(docs/|tests/)
  - repo: https://github.com/jorisroovers/gitlint
    rev: v0.19.1
    hooks:
    - id: gitlint
  - repo: https://github.com/asottile/setup-cfg-fmt
    rev: v3.1.0
    hooks:
    - id: setup-cfg-fmt
      args: [--min-py-version, '3.9']
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.30.0
    hooks:
    - id: gitleaks
