repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
    - id: check-added-large-files
    - id: check-toml
      types: [toml]
    - id: check-yaml
      types: [yaml]
    - id: end-of-file-fixer
      types: [text]
      stages: [commit, push, manual]
    - id: trailing-whitespace
      types: [text]
      stages: [commit, push, manual]
  - repo: https://github.com/asottile/reorder_python_imports
    rev: v3.0.1
    hooks:
    - id: reorder-python-imports
      args: [--application-directories, '.:src', --py36-plus]
  - repo: https://github.com/psf/black
    rev: 22.1.0
    hooks:
    - id: black
  - repo: https://github.com/asottile/pyupgrade
    rev: v2.31.1
    hooks:
    - id: pyupgrade
      args: [--py36-plus]
  #- repo: https://github.com/pre-commit/mirrors-mypy
  #  rev: v0.910
  #  hooks:
  #  - id: mypy
  #    exclude: ^(docs/|tests/)
  - repo: https://github.com/jorisroovers/gitlint
    rev: v0.17.0
    hooks:
    - id: gitlint
  - repo: https://github.com/asottile/setup-cfg-fmt
    rev: v1.20.0
    hooks:
    - id: setup-cfg-fmt
      args: [--min-py3-version, '3.6']
