language: python

before_script:
- pip install tox

# test script
script:  tox
notifications:
  on_success: change
  on_failure: always

env:
  global:
  - GH_RECORD_MODE='none'

matrix:
  include:
    - python: 2.7
      env: TOXENV=py27
    - python: 3.4
      env: TOXENV=py34
    - python: 3.5
      env: TOXENV=py35
    - python: 3.6
      env: TOXENV=py36
    - python: nightly
      env: TOXENV=py37
    - python: pypy
      env: TOXENV=pypy
    - env: TOXENV=py27-flake8
    - env: TOXENV=py36-flake8
    - env: TOXENV=docstrings
    - env: TOXENV=notebooks
    - env: TOXENV=readme
    - env: TOXENV=docs
  fast_finish: true
  allow_failures:
  - env: TOXENV=docstrings
  - env: TOXENV=notebooks

sudo: false
