{"http_interactions": [{"request": {"body": {"encoding": "utf-8", "string": "{\"note\": \"testing github3.py\", \"note_url\": \"\", \"client_id\": \"\", \"client_secret\": \"\", \"scopes\": [\"gist\"]}"}, "headers": {"Content-Type": "application/json", "Authorization": "Basic <BASIC_AUTH>"}, "method": "POST", "uri": "https://api.github.com/authorizations"}, "response": {"body": {"encoding": "utf-8", "string": "{\"id\":168042711,\"url\":\"https://api.github.com/authorizations/168042711\",\"app\":{\"name\":\"testing github3.py\",\"url\":\"https://developer.github.com/v3/oauth_authorizations/\",\"client_id\":\"00000000000000000000\"},\"token\":\"1adaa26cd44a029e71873cc1d41083b92b537d40\",\"hashed_token\":\"a15e0358a43e47334ecebe4cea01431ca3dfb8bee264f7a4cda376e3154edebe\",\"token_last_eight\":\"2b537d40\",\"note\":\"testing github3.py\",\"note_url\":\"\",\"created_at\":\"2018-02-24T13:59:09Z\",\"updated_at\":\"2018-02-24T13:59:09Z\",\"scopes\":[\"gist\"],\"fingerprint\":null}"}, "headers": {"Content-Type": "application/json; charset=utf-8", "Status": "201 Created", "X-RateLimit-Limit": "5000", "X-RateLimit-Remaining": "4994", "X-RateLimit-Reset": "1519483301", "ETag": "\"ab07e9cdb257c7f7cd7994356db17e28\"", "Location": "https://api.github.com/authorizations/168042711", "X-GitHub-Media-Type": "github.v3; param=full; format=json"}, "status": {"code": 201, "message": "Created"}, "url": "https://api.github.com/authorizations"}, "recorded_at": "2018-02-24T13:59:09"}, {"request": {"body": {"encoding": "utf-8", "string": ""}, "headers": {"Content-Type": "application/json", "Authorization": "Basic <BASIC_AUTH>"}, "method": "DELETE", "uri": "https://api.github.com/authorizations/168042711"}, "response": {"body": {"encoding": null, "string": ""}, "headers": {"Content-Type": "application/octet-stream", "Status": "204 No Content", "X-RateLimit-Limit": "5000", "X-RateLimit-Remaining": "4993", "X-RateLimit-Reset": "1519483301", "X-GitHub-Media-Type": "github.v3; param=full; format=json"}, "status": {"code": 204, "message": "No Content"}, "url": "https://api.github.com/authorizations/168042711"}, "recorded_at": "2018-02-24T13:59:09"}], "recorded_with": "betamax/0.8.0"}