{"http_interactions": [{"request": {"body": {"string": "{\"files\": {\"filename.py\": {\"content\": \"# -*- coding: utf-8 -*-\"}}, \"description\": \"Title\", \"public\": true}", "encoding": "utf-8"}, "headers": {"Content-Type": "application/json", "Authorization": "Basic <BASIC_AUTH>"}, "method": "POST", "uri": "https://api.github.com/gists"}, "response": {"body": {"string": "{\"url\":\"https://api.github.com/gists/d842f429f59500ce30bc\",\"forks_url\":\"https://api.github.com/gists/d842f429f59500ce30bc/forks\",\"commits_url\":\"https://api.github.com/gists/d842f429f59500ce30bc/commits\",\"id\":\"d842f429f59500ce30bc\",\"git_pull_url\":\"https://gist.github.com/d842f429f59500ce30bc.git\",\"git_push_url\":\"https://gist.github.com/d842f429f59500ce30bc.git\",\"html_url\":\"https://gist.github.com/d842f429f59500ce30bc\",\"files\":{\"filename.py\":{\"filename\":\"filename.py\",\"type\":\"application/x-python\",\"language\":\"Python\",\"raw_url\":\"https://gist.githubusercontent.com/sigmavirus24/d842f429f59500ce30bc/raw/7c68785e9d0b64e1fe46403c4316a9fe1ea36eeb/filename.py\",\"size\":23,\"truncated\":false,\"content\":\"# -*- coding: utf-8 -*-\"}},\"public\":true,\"created_at\":\"2014-07-31T03:03:02Z\",\"updated_at\":\"2014-07-31T03:03:02Z\",\"description\":\"Title\",\"comments\":0,\"user\":null,\"comments_url\":\"https://api.github.com/gists/d842f429f59500ce30bc/comments\",\"owner\":{\"login\":\"sigmavirus24\",\"id\":240830,\"avatar_url\":\"https://avatars.githubusercontent.com/u/240830?v=1\",\"gravatar_id\":\"c148356d89f925e692178bee1d93acf7\",\"url\":\"https://api.github.com/users/sigmavirus24\",\"html_url\":\"https://github.com/sigmavirus24\",\"followers_url\":\"https://api.github.com/users/sigmavirus24/followers\",\"following_url\":\"https://api.github.com/users/sigmavirus24/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/sigmavirus24/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/sigmavirus24/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/sigmavirus24/subscriptions\",\"organizations_url\":\"https://api.github.com/users/sigmavirus24/orgs\",\"repos_url\":\"https://api.github.com/users/sigmavirus24/repos\",\"events_url\":\"https://api.github.com/users/sigmavirus24/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/sigmavirus24/received_events\",\"type\":\"User\",\"site_admin\":false},\"forks\":[],\"history\":[{\"user\":{\"login\":\"sigmavirus24\",\"id\":240830,\"avatar_url\":\"https://avatars.githubusercontent.com/u/240830?v=1\",\"gravatar_id\":\"c148356d89f925e692178bee1d93acf7\",\"url\":\"https://api.github.com/users/sigmavirus24\",\"html_url\":\"https://github.com/sigmavirus24\",\"followers_url\":\"https://api.github.com/users/sigmavirus24/followers\",\"following_url\":\"https://api.github.com/users/sigmavirus24/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/sigmavirus24/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/sigmavirus24/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/sigmavirus24/subscriptions\",\"organizations_url\":\"https://api.github.com/users/sigmavirus24/orgs\",\"repos_url\":\"https://api.github.com/users/sigmavirus24/repos\",\"events_url\":\"https://api.github.com/users/sigmavirus24/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/sigmavirus24/received_events\",\"type\":\"User\",\"site_admin\":false},\"version\":\"9ad42df347d4216eeed0192fd9cb7a96c0a8b2e2\",\"committed_at\":\"2014-07-31T03:03:02Z\",\"change_status\":{\"total\":1,\"additions\":1,\"deletions\":0},\"url\":\"https://api.github.com/gists/d842f429f59500ce30bc/9ad42df347d4216eeed0192fd9cb7a96c0a8b2e2\"}]}", "encoding": "utf-8"}, "headers": {"etag": "\"6e2ca7b3e002098c28bf83f23fd0a774\"", "location": "https://api.github.com/gists/d842f429f59500ce30bc", "status": "201 Created", "x-ratelimit-remaining": "4957", "x-github-media-type": "github.v3; param=full; format=json", "x-ratelimit-limit": "5000", "content-type": "application/json; charset=utf-8", "x-ratelimit-reset": "1406779215"}, "status": {"message": "Created", "code": 201}, "url": "https://api.github.com/gists"}, "recorded_at": "2014-07-31T03:03:03"}, {"request": {"body": {"string": "", "encoding": "utf-8"}, "headers": {"Content-Type": "application/json", "Authorization": "Basic <BASIC_AUTH>"}, "method": "DELETE", "uri": "https://api.github.com/gists/d842f429f59500ce30bc"}, "response": {"body": {"string": "", "encoding": null}, "headers": {"status": "204 No Content", "x-ratelimit-remaining": "4956", "x-github-media-type": "github.v3; param=full; format=json", "x-ratelimit-limit": "5000", "x-ratelimit-reset": "1406779215"}, "status": {"message": "No Content", "code": 204}, "url": "https://api.github.com/gists/d842f429f59500ce30bc"}, "recorded_at": "2014-07-31T03:03:03"}], "recorded_with": "betamax/0.4.0"}