{"http_interactions": [{"request": {"body": {"encoding": "utf-8", "string": "{\"description\": \"Title\", \"public\": true, \"files\": {\"filename.py\": {\"content\": \"# -*- coding: utf-8 -*-\"}}}"}, "headers": {"Content-Type": "application/json", "Authorization": "Basic <BASIC_AUTH>"}, "method": "POST", "uri": "https://api.github.com/gists"}, "response": {"body": {"encoding": "utf-8", "string": "{\"url\":\"https://api.github.com/gists/00d24e6e5a6214603e10da907443ff90\",\"forks_url\":\"https://api.github.com/gists/00d24e6e5a6214603e10da907443ff90/forks\",\"commits_url\":\"https://api.github.com/gists/00d24e6e5a6214603e10da907443ff90/commits\",\"id\":\"00d24e6e5a6214603e10da907443ff90\",\"git_pull_url\":\"https://gist.github.com/00d24e6e5a6214603e10da907443ff90.git\",\"git_push_url\":\"https://gist.github.com/00d24e6e5a6214603e10da907443ff90.git\",\"html_url\":\"https://gist.github.com/00d24e6e5a6214603e10da907443ff90\",\"files\":{\"filename.py\":{\"filename\":\"filename.py\",\"type\":\"application/x-python\",\"language\":\"Python\",\"raw_url\":\"https://gist.githubusercontent.com/gh3test/00d24e6e5a6214603e10da907443ff90/raw/7c68785e9d0b64e1fe46403c4316a9fe1ea36eeb/filename.py\",\"size\":23,\"truncated\":false,\"content\":\"# -*- coding: utf-8 -*-\"}},\"public\":true,\"created_at\":\"2017-12-25T19:39:38Z\",\"updated_at\":\"2017-12-25T19:39:38Z\",\"description\":\"Title\",\"comments\":0,\"user\":null,\"comments_url\":\"https://api.github.com/gists/00d24e6e5a6214603e10da907443ff90/comments\",\"owner\":{\"login\":\"gh3test\",\"id\":2354350,\"avatar_url\":\"https://avatars2.githubusercontent.com/u/2354350?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/gh3test\",\"html_url\":\"https://github.com/gh3test\",\"followers_url\":\"https://api.github.com/users/gh3test/followers\",\"following_url\":\"https://api.github.com/users/gh3test/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/gh3test/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/gh3test/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/gh3test/subscriptions\",\"organizations_url\":\"https://api.github.com/users/gh3test/orgs\",\"repos_url\":\"https://api.github.com/users/gh3test/repos\",\"events_url\":\"https://api.github.com/users/gh3test/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/gh3test/received_events\",\"type\":\"User\",\"site_admin\":false},\"forks\":[],\"history\":[{\"user\":{\"login\":\"gh3test\",\"id\":2354350,\"avatar_url\":\"https://avatars2.githubusercontent.com/u/2354350?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/gh3test\",\"html_url\":\"https://github.com/gh3test\",\"followers_url\":\"https://api.github.com/users/gh3test/followers\",\"following_url\":\"https://api.github.com/users/gh3test/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/gh3test/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/gh3test/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/gh3test/subscriptions\",\"organizations_url\":\"https://api.github.com/users/gh3test/orgs\",\"repos_url\":\"https://api.github.com/users/gh3test/repos\",\"events_url\":\"https://api.github.com/users/gh3test/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/gh3test/received_events\",\"type\":\"User\",\"site_admin\":false},\"version\":\"b965b28afe476d6ce41783579daa6e2a2316964f\",\"committed_at\":\"2017-12-25T19:39:37Z\",\"change_status\":{\"total\":1,\"additions\":1,\"deletions\":0},\"url\":\"https://api.github.com/gists/00d24e6e5a6214603e10da907443ff90/b965b28afe476d6ce41783579daa6e2a2316964f\"}],\"truncated\":false}"}, "headers": {"Content-Type": "application/json; charset=utf-8", "Status": "201 Created", "X-RateLimit-Limit": "5000", "X-RateLimit-Remaining": "4997", "X-RateLimit-Reset": "1514234358", "ETag": "\"b323b0e9fce3ecb10c4c57a51be609dd\"", "Location": "https://api.github.com/gists/00d24e6e5a6214603e10da907443ff90", "X-GitHub-Media-Type": "github.v3; param=full; format=json"}, "status": {"code": 201, "message": "Created"}, "url": "https://api.github.com/gists"}, "recorded_at": "2017-12-25T19:39:38"}, {"request": {"body": {"encoding": "utf-8", "string": ""}, "headers": {"Content-Type": "application/json", "Authorization": "Basic <BASIC_AUTH>"}, "method": "DELETE", "uri": "https://api.github.com/gists/00d24e6e5a6214603e10da907443ff90"}, "response": {"body": {"encoding": null, "string": ""}, "headers": {"Content-Type": "application/octet-stream", "Status": "204 No Content", "X-RateLimit-Limit": "5000", "X-RateLimit-Remaining": "4996", "X-RateLimit-Reset": "1514234358", "X-GitHub-Media-Type": "github.v3; param=full; format=json"}, "status": {"code": 204, "message": "No Content"}, "url": "https://api.github.com/gists/00d24e6e5a6214603e10da907443ff90"}, "recorded_at": "2017-12-25T19:39:38"}], "recorded_with": "betamax/0.8.0"}