{
  "http_interactions": [
    {
      "recorded_at": "2014-09-09T02:06:20",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "Basic <BASIC_AUTH>",
          "Content-Type": "application/json"
        },
        "method": "GET",
        "uri": "https://api.github.com/user/starred/lukasa/mkcert"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": ""
        },
        "headers": {
          "status": "204 No Content",
          "x-github-media-type": "github.v3; param=full; format=json",
          "x-ratelimit-limit": "5000",
          "x-ratelimit-remaining": "4997",
          "x-ratelimit-reset": "1410231921"
        },
        "status": {
          "code": 204,
          "message": "No Content"
        },
        "url": "https://api.github.com/user/starred/lukasa/mkcert"
      }
    }
  ],
  "recorded_with": "betamax/0.4.0"
}