{"http_interactions": [{"request": {"body": {"string": "{\"note\": \"Test authorization\", \"client_secret\": \"\", \"client_id\": \"\", \"note_url\": \"http://example.com\"}", "encoding": "utf-8"}, "headers": {"Content-Type": "application/json", "Authorization": "Basic <BASIC_AUTH>"}, "method": "POST", "uri": "https://api.github.com/authorizations"}, "response": {"body": {"string": "{\"id\":10716101,\"url\":\"https://api.github.com/authorizations/10716101\",\"app\":{\"name\":\"Test authorization (API)\",\"url\":\"http://example.com\",\"client_id\":\"00000000000000000000\"},\"token\":\"3cc51e13b9c5b2158aad32cc4ab897e7ac8364e9\",\"note\":\"Test authorization\",\"note_url\":\"http://example.com\",\"created_at\":\"2014-08-26T02:59:33Z\",\"updated_at\":\"2014-08-26T02:59:33Z\",\"scopes\":[]}", "encoding": "utf-8"}, "headers": {"etag": "\"af5e035a265070984e2b70fe601d470d\"", "location": "https://api.github.com/authorizations/10716101", "status": "201 Created", "x-ratelimit-remaining": "4925", "x-github-media-type": "github.v3; param=full; format=json", "x-ratelimit-limit": "5000", "content-type": "application/json; charset=utf-8", "x-ratelimit-reset": "1409022013"}, "status": {"message": "Created", "code": 201}, "url": "https://api.github.com/authorizations"}, "recorded_at": "2014-08-26T02:59:34"}], "recorded_with": "betamax/0.4.0"}