{"http_interactions": [{"request": {"body": {"encoding": "utf-8", "string": "{\"note\": \"Test authorization\", \"note_url\": \"http://example.com\", \"client_id\": \"\", \"client_secret\": \"\"}"}, "headers": {"Content-Type": "application/json", "Authorization": "Basic <BASIC_AUTH>"}, "method": "POST", "uri": "https://api.github.com/authorizations"}, "response": {"body": {"encoding": "utf-8", "string": "{\"id\":168042778,\"url\":\"https://api.github.com/authorizations/168042778\",\"app\":{\"name\":\"Test authorization\",\"url\":\"http://example.com\",\"client_id\":\"00000000000000000000\"},\"token\":\"4107db863bdeb2b7d669c74b63192f2205c8e48b\",\"hashed_token\":\"18a2cd7312840f313366dce10184c1b309a98e84355402a2265d6fadf36f4ee4\",\"token_last_eight\":\"05c8e48b\",\"note\":\"Test authorization\",\"note_url\":\"http://example.com\",\"created_at\":\"2018-02-24T13:59:38Z\",\"updated_at\":\"2018-02-24T13:59:38Z\",\"scopes\":[],\"fingerprint\":null}"}, "headers": {"Content-Type": "application/json; charset=utf-8", "Status": "201 Created", "X-RateLimit-Limit": "5000", "X-RateLimit-Remaining": "4986", "X-RateLimit-Reset": "1519483301", "ETag": "\"eefd90fb26f659021ba3d06ec4c10e29\"", "Location": "https://api.github.com/authorizations/168042778", "X-GitHub-Media-Type": "github.v3; param=full; format=json"}, "status": {"code": 201, "message": "Created"}, "url": "https://api.github.com/authorizations"}, "recorded_at": "2018-02-24T13:59:38"}], "recorded_with": "betamax/0.8.0"}