{"http_interactions": [{"request": {"body": {"string": "", "encoding": "utf-8"}, "headers": {"Content-Type": "application/json"}, "method": "GET", "uri": "https://status.github.com/api.json"}, "response": {"body": {"string": "{\"status_url\":\"https://status.github.com/api/status.json\",\"messages_url\":\"https://status.github.com/api/messages.json\",\"last_message_url\":\"https://status.github.com/api/last-message.json\",\"daily_summary\":\"https://status.github.com/api/daily-summary.json\"}", "encoding": null}, "headers": {"status": "200 OK", "content-type": "application/json", "x-octostatus-request-id": "3647a93f-0d77-40bb-9a24-468ad4066aa1"}, "status": {"message": "OK", "code": 200}, "url": "https://status.github.com/api.json"}, "recorded_at": "2016-01-16T17:44:01"}], "recorded_with": "betamax/0.5.0"}