{"http_interactions": [{"request": {"body": {"encoding": "utf-8", "string": "[\"example1@example.com\", \"example2@example.com\"]"}, "headers": {"Content-Type": "application/json", "Authorization": "Basic <BASIC_AUTH>"}, "method": "POST", "uri": "https://api.github.com/user/emails"}, "response": {"body": {"encoding": "utf-8", "string": "[{\"email\":\"gr.aff.at.colmingov@gmail.com\",\"primary\":true,\"verified\":true,\"visibility\":\"public\"},{\"email\":\"example1@example.com\",\"primary\":false,\"verified\":false,\"visibility\":null},{\"email\":\"example2@example.com\",\"primary\":false,\"verified\":false,\"visibility\":null}]"}, "headers": {"Content-Type": "application/json; charset=utf-8", "Status": "201 Created", "X-RateLimit-Limit": "5000", "X-RateLimit-Remaining": "4999", "X-RateLimit-Reset": "1514430968", "ETag": "\"f35adb2995e0c3b8463dfdd65a8f5e6b\"", "X-GitHub-Media-Type": "github.v3; param=full; format=json"}, "status": {"code": 201, "message": "Created"}, "url": "https://api.github.com/user/emails"}, "recorded_at": "2017-12-28T02:16:08"}], "recorded_with": "betamax/0.8.0"}