{"http_interactions": [{"request": {"body": {"encoding": "utf-8", "string": ""}, "headers": {"Content-Type": ["application/json"], "Authorization": ["token <AUTH_TOKEN>"]}, "method": "PUT", "uri": "https://api.github.com/user/blocks/sigmavirus24"}, "response": {"body": {"encoding": null, "string": ""}, "headers": {"X-OAuth-Scopes": ["admin:org, repo, user"], "X-Accepted-OAuth-Scopes": ["user"], "github-authentication-token-expiration": ["2021-10-22 18:28:46 UTC"], "X-GitHub-Media-Type": ["github.v3; param=full; format=json"], "X-RateLimit-Limit": ["5000"], "X-RateLimit-Remaining": ["4999"], "X-RateLimit-Reset": ["1634336806"], "X-RateLimit-Used": ["1"], "X-RateLimit-Resource": ["core"]}, "status": {"code": 204, "message": "No Content"}, "url": "https://api.github.com/user/blocks/sigmavirus24"}, "recorded_at": "2021-10-15T21:26:46"}, {"request": {"body": {"encoding": "utf-8", "string": ""}, "headers": {"Content-Type": ["application/json"], "Authorization": ["token <AUTH_TOKEN>"]}, "method": "DELETE", "uri": "https://api.github.com/user/blocks/sigmavirus24"}, "response": {"body": {"encoding": null, "string": ""}, "headers": {"X-OAuth-Scopes": ["admin:org, repo, user"], "X-Accepted-OAuth-Scopes": ["user"], "github-authentication-token-expiration": ["2021-10-22 18:28:46 UTC"], "X-GitHub-Media-Type": ["github.v3; param=full; format=json"], "X-RateLimit-Limit": ["5000"], "X-RateLimit-Remaining": ["4998"], "X-RateLimit-Reset": ["1634336806"], "X-RateLimit-Used": ["2"], "X-RateLimit-Resource": ["core"]}, "status": {"code": 204, "message": "No Content"}, "url": "https://api.github.com/user/blocks/sigmavirus24"}, "recorded_at": "2021-10-15T21:26:46"}], "recorded_with": "betamax/0.8.1"}
