{"http_interactions": [{"request": {"body": "{\"files\": {\"filename.py\": {\"content\": \"#content\"}}, \"description\": \"Gist Title\", \"public\": true}", "headers": {"Content-Type": "application/json", "Authorization": "token <AUTH_TOKEN>"}, "method": "POST", "uri": "https://api.github.com/gists"}, "response": {"body": {"string": "{\"url\":\"https://api.github.com/gists/6647085\",\"forks_url\":\"https://api.github.com/gists/6647085/forks\",\"commits_url\":\"https://api.github.com/gists/6647085/commits\",\"id\":\"6647085\",\"git_pull_url\":\"https://gist.github.com/6647085.git\",\"git_push_url\":\"https://gist.github.com/6647085.git\",\"html_url\":\"https://gist.github.com/6647085\",\"files\":{\"filename.py\":{\"filename\":\"filename.py\",\"type\":\"application/python\",\"language\":\"Python\",\"raw_url\":\"https://gist.github.com/raw/6647085/dc60090e8af1ccb3fb2151390b56d02ca8c2623c/filename.py\",\"size\":8,\"content\":\"#content\"}},\"public\":true,\"created_at\":\"2013-09-21T03:58:34Z\",\"updated_at\":\"2013-09-21T03:58:34Z\",\"description\":\"Gist Title\",\"comments\":0,\"user\":null,\"comments_url\":\"https://api.github.com/gists/6647085/comments\",\"owner\":{\"login\":\"sigmavirus24\",\"id\":240830,\"avatar_url\":\"https://0.gravatar.com/avatar/c148356d89f925e692178bee1d93acf7?d=https%3A%2F%2Fidenticons.github.com%2F4a71764034cdae877484be72718ba526.png\",\"gravatar_id\":\"c148356d89f925e692178bee1d93acf7\",\"url\":\"https://api.github.com/users/sigmavirus24\",\"html_url\":\"https://github.com/sigmavirus24\",\"followers_url\":\"https://api.github.com/users/sigmavirus24/followers\",\"following_url\":\"https://api.github.com/users/sigmavirus24/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/sigmavirus24/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/sigmavirus24/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/sigmavirus24/subscriptions\",\"organizations_url\":\"https://api.github.com/users/sigmavirus24/orgs\",\"repos_url\":\"https://api.github.com/users/sigmavirus24/repos\",\"events_url\":\"https://api.github.com/users/sigmavirus24/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/sigmavirus24/received_events\",\"type\":\"User\"},\"forks\":[],\"history\":[{\"user\":{\"login\":\"sigmavirus24\",\"id\":240830,\"avatar_url\":\"https://0.gravatar.com/avatar/c148356d89f925e692178bee1d93acf7?d=https%3A%2F%2Fidenticons.github.com%2F4a71764034cdae877484be72718ba526.png\",\"gravatar_id\":\"c148356d89f925e692178bee1d93acf7\",\"url\":\"https://api.github.com/users/sigmavirus24\",\"html_url\":\"https://github.com/sigmavirus24\",\"followers_url\":\"https://api.github.com/users/sigmavirus24/followers\",\"following_url\":\"https://api.github.com/users/sigmavirus24/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/sigmavirus24/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/sigmavirus24/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/sigmavirus24/subscriptions\",\"organizations_url\":\"https://api.github.com/users/sigmavirus24/orgs\",\"repos_url\":\"https://api.github.com/users/sigmavirus24/repos\",\"events_url\":\"https://api.github.com/users/sigmavirus24/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/sigmavirus24/received_events\",\"type\":\"User\"},\"version\":\"e9d920a6876c042a66080031d78b0136c9094bcd\",\"committed_at\":\"2013-09-21T03:58:35Z\",\"change_status\":{\"total\":1,\"additions\":1,\"deletions\":0},\"url\":\"https://api.github.com/gists/6647085/e9d920a6876c042a66080031d78b0136c9094bcd\"}]}", "encoding": "utf-8"}, "headers": {"status": "201 Created", "x-accepted-oauth-scopes": "gist", "x-ratelimit-remaining": "4997", "x-github-media-type": "github.v3; param=full; format=json", "x-ratelimit-limit": "5000", "location": "https://api.github.com/gists/6647085", "x-oauth-scopes": "user, repo, gist", "content-type": "application/json; charset=utf-8", "etag": "\"e1dff8c07e741534482f279ed77f0b4e\"", "x-ratelimit-reset": "1379737500"}, "url": "https://api.github.com/gists", "status_code": 201}, "recorded_at": "2013-09-21T03:57:52"}], "recorded_with": "betamax"}