{"http_interactions": [{"request": {"body": {"string": "", "encoding": "utf-8"}, "headers": {"Content-Type": "application/json", "Authorization": "token <AUTH_TOKEN>"}, "method": "PUT", "uri": "https://api.github.com/user/starred/sigmavirus24/github3.py"}, "response": {"body": {"string": "", "encoding": null}, "headers": {"status": "204 No Content", "x-ratelimit-remaining": "4996", "x-github-media-type": "github.v3; param=full; format=json", "x-ratelimit-limit": "5000", "x-oauth-scopes": "admin:public_key, gist, repo, user", "x-accepted-oauth-scopes": "", "x-ratelimit-reset": "1451653183"}, "status": {"message": "No Content", "code": 204}, "url": "https://api.github.com/user/starred/sigmavirus24/github3.py"}, "recorded_at": "2016-01-01T12:16:35"}], "recorded_with": "betamax/0.5.0"}