{"http_interactions": [{"request": {"body": {"string": "", "encoding": "utf-8"}, "headers": {"Content-Type": "application/json", "Authorization": "token <AUTH_TOKEN>"}, "method": "DELETE", "uri": "https://api.github.com/user/following/sigmavirus24"}, "response": {"body": {"string": "", "encoding": null}, "headers": {"status": "204 No Content", "x-ratelimit-remaining": "4998", "x-github-media-type": "github.v3; param=full; format=json", "x-ratelimit-limit": "5000", "x-oauth-scopes": "admin:public_key, gist, repo, user", "x-accepted-oauth-scopes": "user, user:follow", "x-ratelimit-reset": "1451693090"}, "status": {"message": "No Content", "code": 204}, "url": "https://api.github.com/user/following/sigmavirus24"}, "recorded_at": "2016-01-01T23:26:34"}], "recorded_with": "betamax/0.5.0"}