{"http_interactions": [{"request": {"body": {"encoding": "utf-8", "string": "{\"description\": \"Gist Title\", \"public\": true, \"files\": {\"filename.py\": {\"content\": \"#content\"}}}"}, "headers": {"Content-Type": ["application/json"], "Authorization": ["token <AUTH_TOKEN>"]}, "method": "POST", "uri": "https://api.github.com/gists"}, "response": {"body": {"encoding": "utf-8", "string": "{\"url\":\"https://api.github.com/gists/6619e8351887b03f6c821e1f715d1de8\",\"forks_url\":\"https://api.github.com/gists/6619e8351887b03f6c821e1f715d1de8/forks\",\"commits_url\":\"https://api.github.com/gists/6619e8351887b03f6c821e1f715d1de8/commits\",\"id\":\"6619e8351887b03f6c821e1f715d1de8\",\"git_pull_url\":\"https://gist.github.com/6619e8351887b03f6c821e1f715d1de8.git\",\"git_push_url\":\"https://gist.github.com/6619e8351887b03f6c821e1f715d1de8.git\",\"html_url\":\"https://gist.github.com/6619e8351887b03f6c821e1f715d1de8\",\"files\":{\"filename.py\":{\"filename\":\"filename.py\",\"type\":\"application/x-python\",\"language\":\"Python\",\"raw_url\":\"https://gist.githubusercontent.com/omgjlk/6619e8351887b03f6c821e1f715d1de8/raw/dc60090e8af1ccb3fb2151390b56d02ca8c2623c/filename.py\",\"size\":8,\"truncated\":false,\"content\":\"#content\"}},\"public\":true,\"created_at\":\"2018-03-21T00:08:25Z\",\"updated_at\":\"2018-03-21T00:08:25Z\",\"description\":\"Gist Title\",\"comments\":0,\"user\":null,\"comments_url\":\"https://api.github.com/gists/6619e8351887b03f6c821e1f715d1de8/comments\",\"owner\":{\"login\":\"omgjlk\",\"id\":523287,\"avatar_url\":\"https://avatars2.githubusercontent.com/u/523287?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/omgjlk\",\"html_url\":\"https://github.com/omgjlk\",\"followers_url\":\"https://api.github.com/users/omgjlk/followers\",\"following_url\":\"https://api.github.com/users/omgjlk/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/omgjlk/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/omgjlk/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/omgjlk/subscriptions\",\"organizations_url\":\"https://api.github.com/users/omgjlk/orgs\",\"repos_url\":\"https://api.github.com/users/omgjlk/repos\",\"events_url\":\"https://api.github.com/users/omgjlk/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/omgjlk/received_events\",\"type\":\"User\",\"site_admin\":true},\"forks\":[],\"history\":[{\"user\":{\"login\":\"omgjlk\",\"id\":523287,\"avatar_url\":\"https://avatars2.githubusercontent.com/u/523287?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/omgjlk\",\"html_url\":\"https://github.com/omgjlk\",\"followers_url\":\"https://api.github.com/users/omgjlk/followers\",\"following_url\":\"https://api.github.com/users/omgjlk/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/omgjlk/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/omgjlk/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/omgjlk/subscriptions\",\"organizations_url\":\"https://api.github.com/users/omgjlk/orgs\",\"repos_url\":\"https://api.github.com/users/omgjlk/repos\",\"events_url\":\"https://api.github.com/users/omgjlk/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/omgjlk/received_events\",\"type\":\"User\",\"site_admin\":true},\"version\":\"015504852a9d751e7b953c696364f5daa6178e84\",\"committed_at\":\"2018-03-21T00:08:25Z\",\"change_status\":{\"total\":1,\"additions\":1,\"deletions\":0},\"url\":\"https://api.github.com/gists/6619e8351887b03f6c821e1f715d1de8/015504852a9d751e7b953c696364f5daa6178e84\"}],\"truncated\":false}"}, "headers": {"Content-Type": ["application/json; charset=utf-8"], "Status": ["201 Created"], "X-RateLimit-Limit": ["5000"], "X-RateLimit-Remaining": ["4980"], "X-RateLimit-Reset": ["1521593187"], "ETag": ["\"4ec6db85d7b32481e0aa916a2d32d1aa\""], "X-OAuth-Scopes": ["gist, repo"], "X-Accepted-OAuth-Scopes": [""], "Location": ["https://api.github.com/gists/6619e8351887b03f6c821e1f715d1de8"], "X-GitHub-Media-Type": ["github.v3; param=full; format=json"]}, "status": {"code": 201, "message": "Created"}, "url": "https://api.github.com/gists"}, "recorded_at": "2018-03-21T00:08:26"}], "recorded_with": "betamax/0.8.1"}