{"http_interactions": [{"request": {"body": {"encoding": "utf-8", "string": "{\"name\": \"my-new-repo\", \"description\": \"Test repo creation\", \"homepage\": \"\", \"private\": false, \"has_issues\": true, \"has_wiki\": true, \"auto_init\": false, \"gitignore_template\": \"\"}"}, "headers": {"Content-Type": "application/json", "Authorization": "Basic <BASIC_AUTH>"}, "method": "POST", "uri": "https://api.github.com/user/repos"}, "response": {"body": {"encoding": "utf-8", "string": "{\"id\":115671102,\"name\":\"my-new-repo\",\"full_name\":\"gh3test/my-new-repo\",\"owner\":{\"login\":\"gh3test\",\"id\":2354350,\"avatar_url\":\"https://avatars2.githubusercontent.com/u/2354350?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/gh3test\",\"html_url\":\"https://github.com/gh3test\",\"followers_url\":\"https://api.github.com/users/gh3test/followers\",\"following_url\":\"https://api.github.com/users/gh3test/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/gh3test/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/gh3test/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/gh3test/subscriptions\",\"organizations_url\":\"https://api.github.com/users/gh3test/orgs\",\"repos_url\":\"https://api.github.com/users/gh3test/repos\",\"events_url\":\"https://api.github.com/users/gh3test/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/gh3test/received_events\",\"type\":\"User\",\"site_admin\":false},\"private\":false,\"html_url\":\"https://github.com/gh3test/my-new-repo\",\"description\":\"Test repo creation\",\"fork\":false,\"url\":\"https://api.github.com/repos/gh3test/my-new-repo\",\"forks_url\":\"https://api.github.com/repos/gh3test/my-new-repo/forks\",\"keys_url\":\"https://api.github.com/repos/gh3test/my-new-repo/keys{/key_id}\",\"collaborators_url\":\"https://api.github.com/repos/gh3test/my-new-repo/collaborators{/collaborator}\",\"teams_url\":\"https://api.github.com/repos/gh3test/my-new-repo/teams\",\"hooks_url\":\"https://api.github.com/repos/gh3test/my-new-repo/hooks\",\"issue_events_url\":\"https://api.github.com/repos/gh3test/my-new-repo/issues/events{/number}\",\"events_url\":\"https://api.github.com/repos/gh3test/my-new-repo/events\",\"assignees_url\":\"https://api.github.com/repos/gh3test/my-new-repo/assignees{/user}\",\"branches_url\":\"https://api.github.com/repos/gh3test/my-new-repo/branches{/branch}\",\"tags_url\":\"https://api.github.com/repos/gh3test/my-new-repo/tags\",\"blobs_url\":\"https://api.github.com/repos/gh3test/my-new-repo/git/blobs{/sha}\",\"git_tags_url\":\"https://api.github.com/repos/gh3test/my-new-repo/git/tags{/sha}\",\"git_refs_url\":\"https://api.github.com/repos/gh3test/my-new-repo/git/refs{/sha}\",\"trees_url\":\"https://api.github.com/repos/gh3test/my-new-repo/git/trees{/sha}\",\"statuses_url\":\"https://api.github.com/repos/gh3test/my-new-repo/statuses/{sha}\",\"languages_url\":\"https://api.github.com/repos/gh3test/my-new-repo/languages\",\"stargazers_url\":\"https://api.github.com/repos/gh3test/my-new-repo/stargazers\",\"contributors_url\":\"https://api.github.com/repos/gh3test/my-new-repo/contributors\",\"subscribers_url\":\"https://api.github.com/repos/gh3test/my-new-repo/subscribers\",\"subscription_url\":\"https://api.github.com/repos/gh3test/my-new-repo/subscription\",\"commits_url\":\"https://api.github.com/repos/gh3test/my-new-repo/commits{/sha}\",\"git_commits_url\":\"https://api.github.com/repos/gh3test/my-new-repo/git/commits{/sha}\",\"comments_url\":\"https://api.github.com/repos/gh3test/my-new-repo/comments{/number}\",\"issue_comment_url\":\"https://api.github.com/repos/gh3test/my-new-repo/issues/comments{/number}\",\"contents_url\":\"https://api.github.com/repos/gh3test/my-new-repo/contents/{+path}\",\"compare_url\":\"https://api.github.com/repos/gh3test/my-new-repo/compare/{base}...{head}\",\"merges_url\":\"https://api.github.com/repos/gh3test/my-new-repo/merges\",\"archive_url\":\"https://api.github.com/repos/gh3test/my-new-repo/{archive_format}{/ref}\",\"downloads_url\":\"https://api.github.com/repos/gh3test/my-new-repo/downloads\",\"issues_url\":\"https://api.github.com/repos/gh3test/my-new-repo/issues{/number}\",\"pulls_url\":\"https://api.github.com/repos/gh3test/my-new-repo/pulls{/number}\",\"milestones_url\":\"https://api.github.com/repos/gh3test/my-new-repo/milestones{/number}\",\"notifications_url\":\"https://api.github.com/repos/gh3test/my-new-repo/notifications{?since,all,participating}\",\"labels_url\":\"https://api.github.com/repos/gh3test/my-new-repo/labels{/name}\",\"releases_url\":\"https://api.github.com/repos/gh3test/my-new-repo/releases{/id}\",\"deployments_url\":\"https://api.github.com/repos/gh3test/my-new-repo/deployments\",\"created_at\":\"2017-12-29T00:45:04Z\",\"updated_at\":\"2017-12-29T00:45:04Z\",\"pushed_at\":\"2017-12-29T00:45:05Z\",\"git_url\":\"git://github.com/gh3test/my-new-repo.git\",\"ssh_url\":\"git@github.com:gh3test/my-new-repo.git\",\"clone_url\":\"https://github.com/gh3test/my-new-repo.git\",\"svn_url\":\"https://github.com/gh3test/my-new-repo\",\"homepage\":\"\",\"size\":0,\"stargazers_count\":0,\"watchers_count\":0,\"language\":null,\"has_issues\":true,\"has_projects\":true,\"has_downloads\":true,\"has_wiki\":true,\"has_pages\":false,\"forks_count\":0,\"mirror_url\":null,\"archived\":false,\"open_issues_count\":0,\"license\":null,\"forks\":0,\"open_issues\":0,\"watchers\":0,\"default_branch\":\"master\",\"permissions\":{\"admin\":true,\"push\":true,\"pull\":true},\"allow_squash_merge\":true,\"allow_merge_commit\":true,\"allow_rebase_merge\":true,\"network_count\":0,\"subscribers_count\":0}"}, "headers": {"Content-Type": "application/json; charset=utf-8", "Status": "201 Created", "X-RateLimit-Limit": "5000", "X-RateLimit-Remaining": "4999", "X-RateLimit-Reset": "1514511905", "ETag": "\"8b849529e9ef766eb1d2075cee6ea003\"", "Location": "https://api.github.com/repos/gh3test/my-new-repo", "X-GitHub-Media-Type": "github.v3; param=full; format=json"}, "status": {"code": 201, "message": "Created"}, "url": "https://api.github.com/user/repos"}, "recorded_at": "2017-12-29T00:45:05"}], "recorded_with": "betamax/0.8.0"}