{"http_interactions": [{"request": {"body": {"string": "", "encoding": "utf-8"}, "headers": {"Content-Type": "application/json"}, "method": "GET", "uri": "https://status.github.com/api/messages.json"}, "response": {"body": {"string": "[]", "encoding": null}, "headers": {"status": "200 OK", "content-type": "application/json", "x-octostatus-request-id": "406d6327-f08e-49fd-923d-1794db44b936"}, "status": {"message": "OK", "code": 200}, "url": "https://status.github.com/api/messages.json"}, "recorded_at": "2016-01-16T17:48:29"}], "recorded_with": "betamax/0.5.0"}