{"http_interactions": [{"request": {"body": {"string": "hub.mode=subscribe&hub.topic=https%3A%2F%2Fgithub.com%2Fitsmemattchung%2Fgithub3.py%2Fevents%2Fpush&hub.callback=http%3A%2F%2Frequestb.in%2F13w3nwt1", "encoding": "utf-8"}, "headers": {"Content-Type": "application/x-www-form-urlencoded", "Authorization": "token <AUTH_TOKEN>"}, "method": "POST", "uri": "https://api.github.com/hub"}, "response": {"body": {"string": "", "encoding": null}, "headers": {"status": "204 No Content", "x-ratelimit-remaining": "4971", "x-github-media-type": "github.v3; param=full; format=json", "x-ratelimit-limit": "5000", "x-oauth-scopes": "admin:public_key, gist, repo, user", "x-accepted-oauth-scopes": "admin:repo_hook, write:repo_hook", "x-ratelimit-reset": "1451689483"}, "status": {"message": "No Content", "code": 204}, "url": "https://api.github.com/hub"}, "recorded_at": "2016-01-01T23:04:09"}], "recorded_with": "betamax/0.5.0"}