{"http_interactions": [{"recorded_at": "2017-02-09T20:46:37", "request": {"method": "GET", "uri": "https://api.github.com/notifications?per_page=100", "headers": {"Content-Type": "application/json", "Authorization": "Basic <BASIC_AUTH>"}, "body": {"string": "", "encoding": "utf-8"}}, "response": {"status": {"code": 200, "message": "OK"}, "headers": {"X-RateLimit-Reset": "1486676646", "X-RateLimit-Remaining": "4998", "X-GitHub-Media-Type": "github.v3; param=full; format=json", "X-RateLimit-Limit": "5000", "Content-Type": "application/json; charset=utf-8", "ETag": "\"23c77661f446f620ca448486b4ecdf4b\"", "X-Poll-Interval": "60", "Status": "200 OK"}, "url": "https://api.github.com/notifications?per_page=100", "body": {"string": "[]", "encoding": "utf-8"}}}], "recorded_with": "betamax/0.8.0"}