{"http_interactions": [{"request": {"body": {"string": "", "encoding": "utf-8"}, "headers": {"Content-Type": "application/json", "Authorization": "token <AUTH_TOKEN>"}, "method": "GET", "uri": "https://enterprise.github3.com/api/v3/enterprise/stats/all"}, "response": {"body": {"string": "{\"repos\":{\"total_repos\":0,\"root_repos\":0,\"fork_repos\":0,\"org_repos\":0,\"total_pushes\":0,\"total_wikis\":0},\"hooks\":{\"total_hooks\":0,\"active_hooks\":0,\"inactive_hooks\":0},\"pages\":{\"total_pages\":0},\"orgs\":{\"total_orgs\":1,\"disabled_orgs\":0,\"total_teams\":0,\"total_team_members\":0},\"users\":{\"total_users\":2,\"admin_users\":2,\"suspended_users\":0},\"pulls\":{\"total_pulls\":0,\"merged_pulls\":0,\"mergeable_pulls\":0,\"unmergeable_pulls\":0},\"issues\":{\"total_issues\":0,\"open_issues\":0,\"closed_issues\":0},\"milestones\":{\"total_milestones\":0,\"open_milestones\":0,\"closed_milestones\":0},\"gists\":{\"total_gists\":0,\"private_gists\":0,\"public_gists\":0},\"comments\":{\"total_commit_comments\":0,\"total_gist_comments\":0,\"total_issue_comments\":0,\"total_pull_request_comments\":0}}", "encoding": "utf-8"}, "headers": {"status": "200 OK", "x-github-media-type": "github.v3; param=full; format=json", "x-accepted-oauth-scopes": "", "etag": "\"90d27a5ed3bddd8b471b01390ab05c64\"", "x-oauth-scopes": "admin:org, admin:org_hook, admin:public_key, admin:repo_hook, delete_repo, gist, notifications, repo, user", "content-type": "application/json; charset=utf-8"}, "status": {"message": "OK", "code": 200}, "url": "https://enterprise.github3.com/api/v3/enterprise/stats/all"}, "recorded_at": "2016-01-09T14:29:24"}], "recorded_with": "betamax/0.5.0"}