{"http_interactions": [{"request": {"body": {"string": "", "encoding": "utf-8"}, "headers": {"Content-Type": "application/json", "Authorization": "Basic <BASIC_AUTH>"}, "method": "GET", "uri": "https://api.github.com/user/starred/lukasa/mkcert"}, "response": {"body": {"string": "", "encoding": null}, "headers": {"status": "204 No Content", "x-ratelimit-remaining": "4997", "x-github-media-type": "github.v3; param=full; format=json", "x-ratelimit-limit": "5000", "x-ratelimit-reset": "1410231921"}, "status": {"message": "No Content", "code": 204}, "url": "https://api.github.com/user/starred/lukasa/mkcert"}, "recorded_at": "2014-09-09T02:06:20"}], "recorded_with": "betamax/0.4.0"}