{"http_interactions": [{"request": {"body": "", "headers": {"Content-Type": "application/json"}, "method": "GET", "uri": "https://api.github.com/octocat"}, "response": {"body": {"string": "\n               MMM.           .MMM\n               MMMMMMMMMMMMMMMMMMM\n               MMMMMMMMMMMMMMMMMMM      ______________________________________\n              MMMMMMMMMMMMMMMMMMMMM    |                                      |\n             MMMMMMMMMMMMMMMMMMMMMMM   | Mind your words, they are important. |\n            MMMMMMMMMMMMMMMMMMMMMMMM   |_   __________________________________|\n            MMMM::- -:::::::- -::MMMM    |/\n             MM~:~   ~:::::~   ~:~MM\n        .. MMMMM::. .:::+:::. .::MMMMM ..\n              .MM::::: ._. :::::MM.\n                 MMMM;:::::;MMMM\n          -MM        MMMMMMM\n          ^  M+     MMMMMMMMM\n              MMMMMMM MM MM MM\n                   MM MM MM MM\n                   MM MM MM MM\n                .~~MM~MM~MM~MM~~.\n             ~~~~MM:~MM~~~MM~:MM~~~~\n            ~~~~~~==~==~~~==~==~~~~~~\n             ~~~~~~==~==~==~==~~~~~~\n                 :~==~==~==~==~~\n", "encoding": null}, "headers": {"status": "200 OK", "x-ratelimit-remaining": "59", "x-ratelimit-limit": "60", "content-type": "application/octocat-stream", "x-ratelimit-reset": "1383887912"}, "url": "https://api.github.com/octocat", "status_code": 200}, "recorded_at": "2013-11-08T04:18:29"}, {"request": {"body": "", "headers": {"Content-Type": "application/json"}, "method": "GET", "uri": "https://api.github.com/octocat?s=github3.py+is+awesome"}, "response": {"body": {"string": "\n               MMM.           .MMM\n               MMMMMMMMMMMMMMMMMMM\n               MMMMMMMMMMMMMMMMMMM      _______________________\n              MMMMMMMMMMMMMMMMMMMMM    |                       |\n             MMMMMMMMMMMMMMMMMMMMMMM   | github3.py is awesome |\n            MMMMMMMMMMMMMMMMMMMMMMMM   |_   ___________________|\n            MMMM::- -:::::::- -::MMMM    |/\n             MM~:~   ~:::::~   ~:~MM\n        .. MMMMM::. .:::+:::. .::MMMMM ..\n              .MM::::: ._. :::::MM.\n                 MMMM;:::::;MMMM\n          -MM        MMMMMMM\n          ^  M+     MMMMMMMMM\n              MMMMMMM MM MM MM\n                   MM MM MM MM\n                   MM MM MM MM\n                .~~MM~MM~MM~MM~~.\n             ~~~~MM:~MM~~~MM~:MM~~~~\n            ~~~~~~==~==~~~==~==~~~~~~\n             ~~~~~~==~==~==~==~~~~~~\n                 :~==~==~==~==~~\n", "encoding": null}, "headers": {"status": "200 OK", "x-ratelimit-remaining": "58", "x-ratelimit-limit": "60", "content-type": "application/octocat-stream", "x-ratelimit-reset": "1383887912"}, "url": "https://api.github.com/octocat?s=github3.py+is+awesome", "status_code": 200}, "recorded_at": "2013-11-08T04:18:30"}], "recorded_with": "betamax"}