{"recorded_with": "betamax/0.8.0", "http_interactions": [{"response": {"body": {"string": "{\"url\":\"https://api.github.com/gists/9395aa23e0eabbb5a7e58a0166763579\",\"forks_url\":\"https://api.github.com/gists/9395aa23e0eabbb5a7e58a0166763579/forks\",\"commits_url\":\"https://api.github.com/gists/9395aa23e0eabbb5a7e58a0166763579/commits\",\"id\":\"9395aa23e0eabbb5a7e58a0166763579\",\"git_pull_url\":\"https://gist.github.com/9395aa23e0eabbb5a7e58a0166763579.git\",\"git_push_url\":\"https://gist.github.com/9395aa23e0eabbb5a7e58a0166763579.git\",\"html_url\":\"https://gist.github.com/9395aa23e0eabbb5a7e58a0166763579\",\"files\":{\"filename.py\":{\"filename\":\"filename.py\",\"type\":\"application/x-python\",\"language\":\"Python\",\"raw_url\":\"https://gist.githubusercontent.com/sigmavirus24/9395aa23e0eabbb5a7e58a0166763579/raw/dc60090e8af1ccb3fb2151390b56d02ca8c2623c/filename.py\",\"size\":8,\"truncated\":false,\"content\":\"#content\"}},\"public\":true,\"created_at\":\"2017-02-01T12:31:17Z\",\"updated_at\":\"2017-02-01T12:31:17Z\",\"description\":\"Gist Title\",\"comments\":0,\"user\":null,\"comments_url\":\"https://api.github.com/gists/9395aa23e0eabbb5a7e58a0166763579/comments\",\"owner\":{\"login\":\"sigmavirus24\",\"id\":240830,\"avatar_url\":\"https://avatars.githubusercontent.com/u/240830?v=3\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/sigmavirus24\",\"html_url\":\"https://github.com/sigmavirus24\",\"followers_url\":\"https://api.github.com/users/sigmavirus24/followers\",\"following_url\":\"https://api.github.com/users/sigmavirus24/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/sigmavirus24/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/sigmavirus24/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/sigmavirus24/subscriptions\",\"organizations_url\":\"https://api.github.com/users/sigmavirus24/orgs\",\"repos_url\":\"https://api.github.com/users/sigmavirus24/repos\",\"events_url\":\"https://api.github.com/users/sigmavirus24/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/sigmavirus24/received_events\",\"type\":\"User\",\"site_admin\":false},\"forks\":[],\"history\":[{\"user\":{\"login\":\"sigmavirus24\",\"id\":240830,\"avatar_url\":\"https://avatars.githubusercontent.com/u/240830?v=3\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/sigmavirus24\",\"html_url\":\"https://github.com/sigmavirus24\",\"followers_url\":\"https://api.github.com/users/sigmavirus24/followers\",\"following_url\":\"https://api.github.com/users/sigmavirus24/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/sigmavirus24/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/sigmavirus24/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/sigmavirus24/subscriptions\",\"organizations_url\":\"https://api.github.com/users/sigmavirus24/orgs\",\"repos_url\":\"https://api.github.com/users/sigmavirus24/repos\",\"events_url\":\"https://api.github.com/users/sigmavirus24/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/sigmavirus24/received_events\",\"type\":\"User\",\"site_admin\":false},\"version\":\"ac179de139603097d96e0a3fab20a67e7181eec1\",\"committed_at\":\"2017-02-01T12:31:17Z\",\"change_status\":{\"total\":1,\"additions\":1,\"deletions\":0},\"url\":\"https://api.github.com/gists/9395aa23e0eabbb5a7e58a0166763579/ac179de139603097d96e0a3fab20a67e7181eec1\"}],\"truncated\":false}", "encoding": "utf-8"}, "url": "https://api.github.com/gists", "status": {"code": 201, "message": "Created"}, "headers": {"Content-Type": "application/json; charset=utf-8", "X-RateLimit-Reset": "1485953436", "Location": "https://api.github.com/gists/9395aa23e0eabbb5a7e58a0166763579", "ETag": "\"8fb72f95b0ea3d24f02f024a7a5f4f65\"", "X-GitHub-Media-Type": "github.v3; param=full; format=json", "X-OAuth-Scopes": "admin:gpg_key, admin:org, admin:org_hook, admin:public_key, admin:repo_hook, delete_repo, gist, notifications, repo, user", "Status": "201 Created", "X-RateLimit-Remaining": "4992", "X-Accepted-OAuth-Scopes": "", "X-RateLimit-Limit": "5000"}}, "recorded_at": "2017-02-01T12:31:17", "request": {"method": "POST", "uri": "https://api.github.com/gists", "body": {"string": "{\"files\": {\"filename.py\": {\"content\": \"#content\"}}, \"public\": true, \"description\": \"Gist Title\"}", "encoding": "utf-8"}, "headers": {"Content-Type": "application/json", "Authorization": "token <AUTH_TOKEN>"}}}]}