{"http_interactions": [{"request": {"body": {"string": "", "encoding": "utf-8"}, "headers": {"Content-Type": "application/json"}, "method": "GET", "uri": "https://status.github.com/api/status.json"}, "response": {"body": {"string": "{\"status\":\"good\",\"last_updated\":\"2016-01-16T17:45:26Z\"}", "encoding": null}, "headers": {"status": "200 OK", "content-type": "application/json", "x-octostatus-request-id": "3ac45328-508d-4dfa-90f5-c750b0023d12"}, "status": {"message": "OK", "code": 200}, "url": "https://status.github.com/api/status.json"}, "recorded_at": "2016-01-16T17:45:35"}], "recorded_with": "betamax/0.5.0"}