{"recorded_with": "betamax/0.5.1", "http_interactions": [{"recorded_at": "2015-12-20T19:03:31", "request": {"uri": "https://api.github.com/user/emails", "body": {"string": "[\"graffatcolmingov+example1@gmail.com\", \"graffatcolmingov+example2@gmail.com\"]", "encoding": "utf-8"}, "method": "DELETE", "headers": {"Content-Type": "application/json", "Authorization": "Basic <BASIC_AUTH>"}}, "response": {"body": {"string": "", "encoding": null}, "headers": {"X-RateLimit-Reset": "1450639603", "X-GitHub-Media-Type": "github.v3; param=full; format=json", "X-RateLimit-Limit": "5000", "X-RateLimit-Remaining": "4988", "Status": "204 No Content"}, "url": "https://api.github.com/user/emails", "status": {"code": 204, "message": "No Content"}}}]}