{"http_interactions": [{"request": {"body": {"string": "", "encoding": "utf-8"}, "headers": {"Content-Type": "application/json"}, "method": "GET", "uri": "https://api.github.com/users/itsmemattchung/orgs?per_page=100"}, "response": {"body": {"string": "[]", "encoding": "utf-8"}, "headers": {"x-github-media-type": "github.v3; param=full; format=json", "etag": "\"ea774fb59d6af2dcf70015a9591dfbb2\"", "status": "200 OK", "x-ratelimit-remaining": "57", "x-ratelimit-limit": "60", "content-type": "application/json; charset=utf-8", "x-ratelimit-reset": "1454750471"}, "status": {"message": "OK", "code": 200}, "url": "https://api.github.com/users/itsmemattchung/orgs?per_page=100"}, "recorded_at": "2016-02-06T08:42:51"}], "recorded_with": "betamax/0.5.0"}