{"recorded_with": "betamax/0.5.1", "http_interactions": [{"recorded_at": "2015-12-20T18:56:05", "response": {"url": "https://api.github.com/user/emails", "status": {"code": 201, "message": "Created"}, "headers": {"X-GitHub-Media-Type": "github.v3; param=full; format=json", "ETag": "\"b4fdbf10626c0cffe2eb8fe3ad230ec1\"", "X-RateLimit-Limit": "5000", "Content-Type": "application/json; charset=utf-8", "X-RateLimit-Remaining": "4997", "X-RateLimit-Reset": "1450639603", "Status": "201 Created"}, "body": {"encoding": "utf-8", "string": "[{\"email\":\"gr.aff.at.colmingov@gmail.com\",\"primary\":true,\"verified\":true},{\"email\":\"example1@example.com\",\"primary\":false,\"verified\":false},{\"email\":\"example2@example.com\",\"primary\":false,\"verified\":false}]"}}, "request": {"method": "POST", "uri": "https://api.github.com/user/emails", "headers": {"Authorization": "Basic <BASIC_AUTH>", "Content-Type": "application/json"}, "body": {"encoding": "utf-8", "string": "[\"example1@example.com\", \"example2@example.com\"]"}}}]}