{"recorded_with": "betamax/0.8.0", "http_interactions": [{"response": {"url": "https://api.github.com/user/repos", "body": {"encoding": "utf-8", "string": "{\"id\":81493101,\"name\":\"my-new-repo\",\"full_name\":\"gh3test/my-new-repo\",\"owner\":{\"login\":\"gh3test\",\"id\":2354350,\"avatar_url\":\"https://avatars.githubusercontent.com/u/2354350?v=3\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/gh3test\",\"html_url\":\"https://github.com/gh3test\",\"followers_url\":\"https://api.github.com/users/gh3test/followers\",\"following_url\":\"https://api.github.com/users/gh3test/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/gh3test/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/gh3test/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/gh3test/subscriptions\",\"organizations_url\":\"https://api.github.com/users/gh3test/orgs\",\"repos_url\":\"https://api.github.com/users/gh3test/repos\",\"events_url\":\"https://api.github.com/users/gh3test/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/gh3test/received_events\",\"type\":\"User\",\"site_admin\":false},\"private\":false,\"html_url\":\"https://github.com/gh3test/my-new-repo\",\"description\":\"Test repo creation\",\"fork\":false,\"url\":\"https://api.github.com/repos/gh3test/my-new-repo\",\"forks_url\":\"https://api.github.com/repos/gh3test/my-new-repo/forks\",\"keys_url\":\"https://api.github.com/repos/gh3test/my-new-repo/keys{/key_id}\",\"collaborators_url\":\"https://api.github.com/repos/gh3test/my-new-repo/collaborators{/collaborator}\",\"teams_url\":\"https://api.github.com/repos/gh3test/my-new-repo/teams\",\"hooks_url\":\"https://api.github.com/repos/gh3test/my-new-repo/hooks\",\"issue_events_url\":\"https://api.github.com/repos/gh3test/my-new-repo/issues/events{/number}\",\"events_url\":\"https://api.github.com/repos/gh3test/my-new-repo/events\",\"assignees_url\":\"https://api.github.com/repos/gh3test/my-new-repo/assignees{/user}\",\"branches_url\":\"https://api.github.com/repos/gh3test/my-new-repo/branches{/branch}\",\"tags_url\":\"https://api.github.com/repos/gh3test/my-new-repo/tags\",\"blobs_url\":\"https://api.github.com/repos/gh3test/my-new-repo/git/blobs{/sha}\",\"git_tags_url\":\"https://api.github.com/repos/gh3test/my-new-repo/git/tags{/sha}\",\"git_refs_url\":\"https://api.github.com/repos/gh3test/my-new-repo/git/refs{/sha}\",\"trees_url\":\"https://api.github.com/repos/gh3test/my-new-repo/git/trees{/sha}\",\"statuses_url\":\"https://api.github.com/repos/gh3test/my-new-repo/statuses/{sha}\",\"languages_url\":\"https://api.github.com/repos/gh3test/my-new-repo/languages\",\"stargazers_url\":\"https://api.github.com/repos/gh3test/my-new-repo/stargazers\",\"contributors_url\":\"https://api.github.com/repos/gh3test/my-new-repo/contributors\",\"subscribers_url\":\"https://api.github.com/repos/gh3test/my-new-repo/subscribers\",\"subscription_url\":\"https://api.github.com/repos/gh3test/my-new-repo/subscription\",\"commits_url\":\"https://api.github.com/repos/gh3test/my-new-repo/commits{/sha}\",\"git_commits_url\":\"https://api.github.com/repos/gh3test/my-new-repo/git/commits{/sha}\",\"comments_url\":\"https://api.github.com/repos/gh3test/my-new-repo/comments{/number}\",\"issue_comment_url\":\"https://api.github.com/repos/gh3test/my-new-repo/issues/comments{/number}\",\"contents_url\":\"https://api.github.com/repos/gh3test/my-new-repo/contents/{+path}\",\"compare_url\":\"https://api.github.com/repos/gh3test/my-new-repo/compare/{base}...{head}\",\"merges_url\":\"https://api.github.com/repos/gh3test/my-new-repo/merges\",\"archive_url\":\"https://api.github.com/repos/gh3test/my-new-repo/{archive_format}{/ref}\",\"downloads_url\":\"https://api.github.com/repos/gh3test/my-new-repo/downloads\",\"issues_url\":\"https://api.github.com/repos/gh3test/my-new-repo/issues{/number}\",\"pulls_url\":\"https://api.github.com/repos/gh3test/my-new-repo/pulls{/number}\",\"milestones_url\":\"https://api.github.com/repos/gh3test/my-new-repo/milestones{/number}\",\"notifications_url\":\"https://api.github.com/repos/gh3test/my-new-repo/notifications{?since,all,participating}\",\"labels_url\":\"https://api.github.com/repos/gh3test/my-new-repo/labels{/name}\",\"releases_url\":\"https://api.github.com/repos/gh3test/my-new-repo/releases{/id}\",\"deployments_url\":\"https://api.github.com/repos/gh3test/my-new-repo/deployments\",\"created_at\":\"2017-02-09T20:44:05Z\",\"updated_at\":\"2017-02-09T20:44:05Z\",\"pushed_at\":\"2017-02-09T20:44:06Z\",\"git_url\":\"git://github.com/gh3test/my-new-repo.git\",\"ssh_url\":\"git@github.com:gh3test/my-new-repo.git\",\"clone_url\":\"https://github.com/gh3test/my-new-repo.git\",\"svn_url\":\"https://github.com/gh3test/my-new-repo\",\"homepage\":\"\",\"size\":0,\"stargazers_count\":0,\"watchers_count\":0,\"language\":null,\"has_issues\":true,\"has_downloads\":true,\"has_wiki\":true,\"has_pages\":false,\"forks_count\":0,\"mirror_url\":null,\"open_issues_count\":0,\"forks\":0,\"open_issues\":0,\"watchers\":0,\"default_branch\":\"master\",\"permissions\":{\"admin\":true,\"push\":true,\"pull\":true},\"network_count\":0,\"subscribers_count\":0}"}, "status": {"code": 201, "message": "Created"}, "headers": {"X-RateLimit-Reset": "1486676646", "X-GitHub-Media-Type": "github.v3; param=full; format=json", "Location": "https://api.github.com/repos/gh3test/my-new-repo", "X-RateLimit-Limit": "5000", "Content-Type": "application/json; charset=utf-8", "X-RateLimit-Remaining": "4999", "ETag": "\"1bcc9a85a070aa74fa719b03190a3721\"", "Status": "201 Created"}}, "request": {"method": "POST", "body": {"encoding": "utf-8", "string": "{\"description\": \"Test repo creation\", \"homepage\": \"\", \"gitignore_template\": \"\", \"name\": \"my-new-repo\", \"has_wiki\": true, \"private\": false, \"has_issues\": true, \"auto_init\": false}"}, "uri": "https://api.github.com/user/repos", "headers": {"Content-Type": "application/json", "Authorization": "Basic <BASIC_AUTH>"}}, "recorded_at": "2017-02-09T20:44:06"}]}