{"http_interactions": [{"request": {"body": {"encoding": "utf-8", "string": ""}, "headers": {"Content-Type": ["application/json"]}, "method": "GET", "uri": "https://www.githubstatus.com/api/v2/scheduled-maintenances/upcoming.json"}, "response": {"body": {"encoding": "utf-8", "string": "{\"page\":{\"id\":\"kctbh9vrtdwd\",\"name\":\"GitHub\",\"url\":\"https://www.githubstatus.com\",\"time_zone\":\"Etc/UTC\",\"updated_at\":\"2020-01-08T08:06:19.847Z\"},\"scheduled_maintenances\":[]}"}, "headers": {"Content-Type": ["application/json; charset=utf-8"], "X-StatusPage-Version": ["ca72f6a492978b6708ca22a1ed54b88b8e7738f2"], "X-StatusPage-Skip-Logging": ["true"], "ETag": ["W/\"af1dfe60d71b4b73539356a58f04f726\""]}, "status": {"code": 200, "message": "OK"}, "url": "https://www.githubstatus.com/api/v2/scheduled-maintenances/upcoming.json"}, "recorded_at": "2020-01-08T22:39:09"}], "recorded_with": "betamax/0.8.1"}