{
  "http_interactions": [
    {
      "recorded_at": "2013-11-08T04:18:29",
      "request": {
        "body": "",
        "headers": {
          "Content-Type": "application/json"
        },
        "method": "GET",
        "uri": "https://api.github.com/octocat"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "\n               MMM.           .MMM\n               MMMMMMMMMMMMMMMMMMM\n               MMMMMMMMMMMMMMMMMMM      ______________________________________\n              MMMMMMMMMMMMMMMMMMMMM    |                                      |\n             MMMMMMMMMMMMMMMMMMMMMMM   | Mind your words, they are important. |\n            MMMMMMMMMMMMMMMMMMMMMMMM   |_   __________________________________|\n            MMMM::- -:::::::- -::MMMM    |/\n             MM~:~   ~:::::~   ~:~MM\n        .. MMMMM::. .:::+:::. .::MMMMM ..\n              .MM::::: ._. :::::MM.\n                 MMMM;:::::;MMMM\n          -MM        MMMMMMM\n          ^  M+     MMMMMMMMM\n              MMMMMMM MM MM MM\n                   MM MM MM MM\n                   MM MM MM MM\n                .~~MM~MM~MM~MM~~.\n             ~~~~MM:~MM~~~MM~:MM~~~~\n            ~~~~~~==~==~~~==~==~~~~~~\n             ~~~~~~==~==~==~==~~~~~~\n                 :~==~==~==~==~~\n"
        },
        "headers": {
          "content-type": "application/octocat-stream",
          "status": "200 OK",
          "x-ratelimit-limit": "60",
          "x-ratelimit-remaining": "59",
          "x-ratelimit-reset": "1383887912"
        },
        "status_code": 200,
        "url": "https://api.github.com/octocat"
      }
    },
    {
      "recorded_at": "2013-11-08T04:18:30",
      "request": {
        "body": "",
        "headers": {
          "Content-Type": "application/json"
        },
        "method": "GET",
        "uri": "https://api.github.com/octocat?s=github3.py+is+awesome"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "\n               MMM.           .MMM\n               MMMMMMMMMMMMMMMMMMM\n               MMMMMMMMMMMMMMMMMMM      _______________________\n  [...]
