{
  "http_interactions": [
    {
      "recorded_at": "2014-09-07T20:06:39",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"gitignore_template\": \"\", \"has_wiki\": true, \"name\": \"my-new-repo\", \"has_downloads\": true, \"has_issues\": true, \"auto_init\": false, \"homepage\": \"\", \"private\": false, \"description\": \"Test repo creation\"}"
        },
        "headers": {
          "Authorization": "Basic <BASIC_AUTH>",
          "Content-Type": "application/json"
        },
        "method": "POST",
        "uri": "https://api.github.com/user/repos"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"id\":23769658,\"name\":\"my-new-repo\",\"full_name\":\"sigmavirus24/my-new-repo\",\"owner\":{\"login\":\"sigmavirus24\",\"id\":240830,\"avatar_url\":\"https://avatars.githubusercontent.com/u/240830?v=2\",\"gravatar_id\":\"c148356d89f925e692178bee1d93acf7\",\"url\":\"https://api.github.com/users/sigmavirus24\",\"html_url\":\"https://github.com/sigmavirus24\",\"followers_url\":\"https://api.github.com/users/sigmavirus24/followers\",\"following_url\":\"https://api.github.com/users/sigmavirus24/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/sigmavirus24/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/sigmavirus24/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/sigmavirus24/subscriptions\",\"organizations_url\":\"https://api.github.com/users/sigmavirus24/orgs\",\"repos_url\":\"https://api.github.com/users/sigmavirus24/repos\",\"events_url\":\"https://api.github.com/users/sigmavirus24/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/sigmavirus24/received_events\",\"type\":\"User\",\"site_admin\":false},\"private\":false,\"html_url\":\"https://github.com/sigmavirus24/my-new-repo\",\"description\":\"Test repo creation\",\"fork\":false,\"url\":\"https://api.github.com/repos/sigmavirus24/my-new-repo\",\"forks_url\":\"https://api.github.com/repos/sigmavirus24/my-new-repo/forks\",\"keys_url\":\"https://api.github.com/repos/sigmavirus24/my-new-repo/keys{/key_id}\",\"collaborators_url\":\"https://api.github.com/repos/sigmavirus24/my-new-repo/collaborators{/collaborator}\",\"teams_url\":\"https://api.github.com/repos/sigmavirus24/my-new-repo/teams\",\"hooks_url\":\"https://api.github.com/repos/sigmavirus24/my-new-repo/hooks\",\"issue_events_url\":\"https://api.github.com/repos/sigmavirus24/my-new-repo/issues/events{/number}\",\"events_url\":\"https://api.github.com/repos/sigmavirus24/my-new-repo/events\",\"assignees_url\":\"https://api.github.com/repos/sigmavirus24/my-new-repo/assignees{/user}\",\"branches_url\":\"https://api.github.com/repos/sigmavirus24/my-new-repo/branches{/branch}\",\"tags_url\":\"https://api.github.com/repos/sigmavirus24/my-new-repo/tags\",\"blobs_url\":\"https://api.github.com/repos/sigmavirus24/my-new-repo/git/blobs{/sha}\",\"git_tags_url\":\"https://api.github.com/repos/sigmavirus24/my-new-repo/git/tags{/sha}\",\"git_refs_url\":\"https://api.github.com/repos/sigmavirus24/my-new-repo/git/refs{/sha}\",\"trees_url\":\"https://api.github.com/repos/sigmavirus24/my-new-repo/git/trees{/sha}\",\"statuses_url\":\"https://api.github.com/repos/sigmavirus24/my-new-repo/statuses/{sha}\",\"languages_url\":\"https://api.github.com/repos/sigmavirus24/my-new-repo/languages\",\"stargazers_url\":\"https://api.github.com/repos/sigmavirus24/my-new-repo/stargazers\",\"contributors_url\":\"https://api.github.com/repos/sigmavirus24/my-new-repo/contributors\",\"subscribers_url\":\"https://api.github.com/repos/sigmavirus24/my-new-repo/subscribers\",\"subscription_url\":\"https://api.github.com/repos/sigmavirus24/my-new-repo/subscription\",\"commits_url\":\"https://api.github.com/repos/sigmavirus24/my-new-repo/commits{/sha}\",\"git_commits_url\":\"https://api.github.com/repos/sigmavirus24/my-new-repo/git/commits{/sha}\",\"comments_url\":\"https://api.github.com/repos/sigmavirus24/my-new-repo/comments{/number}\",\"issue_comment_url\":\"https://api.github.com/repos/sigmavirus24/my-new-repo/issues/comments/{number}\",\"contents_url\":\"https://api.github.com/repos/sigmavirus24/my-new-repo/contents/{+path}\",\"compare_url\":\"https://api.github.com/repos/sigmavirus24/my-new-repo/compare/{base}...{head}\",\"merges_url\":\"https://api.github.com/repos/sigmavirus24/my-new-repo/merges\",\"archive_url\":\"https://api.github.com/repos/sigmavirus24/my-new-repo/{archive_format}{/ref}\",\"downloads_url\":\"https://api.github.com/repos/sigmavirus24/my-new-repo/downloads\",\"issues_url\":\"https://api.github.com/repos/sigmavirus24/my-new-repo/issues{/number}\",\"pulls_url\":\"https://api.github.com/repos/sigmavirus24/my-new-repo/pulls{/number}\",\"milestones_url\":\"https://api.github.com/repos/sigmavirus24/my-new-repo/milestones{/number}\",\"notifications_url\":\"https://api.github.com/repos/sigmavirus24/my-new-repo/notifications{?since,all,participating}\",\"labels_url\":\"https://api.github.com/repos/sigmavirus24/my-new-repo/labels{/name}\",\"releases_url\":\"https://api.github.com/repos/sigmavirus24/my-new-repo/releases{/id}\",\"created_at\":\"2014-09-07T20:06:37Z\",\"updated_at\":\"2014-09-07T20:06:37Z\",\"pushed_at\":\"2014-09-07T20:06:37Z\",\"git_url\":\"git://github.com/sigmavirus24/my-new-repo.git\",\"ssh_url\":\"git@github.com:sigmavirus24/my-new-repo.git\",\"clone_url\":\"https://github.com/sigmavirus24/my-new-repo.git\",\"svn_url\":\"https://github.com/sigmavirus24/my-new-repo\",\"homepage\":\"\",\"size\":0,\"stargazers_count\":0,\"watchers_count\":0,\"language\":null,\"has_issues\":true,\"has_downloads\":true,\"has_wiki\":true,\"forks_count\":0,\"mirror_url\":null,\"open_issues_count\":0,\"forks\":0,\"open_issues\":0,\"watchers\":0,\"default_branch\":\"master\",\"permissions\":{\"admin\":true,\"push\":true,\"pull\":true},\"network_count\":0,\"subscribers_count\":0}"
        },
        "headers": {
          "content-type": "application/json; charset=utf-8",
          "etag": "\"25f16b9198083fcf7eb5f528a36b9a70\"",
          "location": "https://api.github.com/repos/sigmavirus24/my-new-repo",
          "status": "201 Created",
          "x-github-media-type": "github.v3; param=full; format=json",
          "x-ratelimit-limit": "5000",
          "x-ratelimit-remaining": "4917",
          "x-ratelimit-reset": "1410121861"
        },
        "status": {
          "code": 201,
          "message": "Created"
        },
        "url": "https://api.github.com/user/repos"
      }
    }
  ],
  "recorded_with": "betamax/0.4.0"
}