{"http_interactions": [{"request": {"body": {"string": "", "encoding": "utf-8"}, "headers": {"Content-Type": "application/json"}, "method": "GET", "uri": "https://status.github.com/api/last-message.json"}, "response": {"body": {"string": "{\"status\":\"good\",\"body\":\"Everything operating normally.\",\"created_on\":\"2016-01-08T02:31:09Z\"}", "encoding": null}, "headers": {"status": "200 OK", "content-type": "application/json", "x-octostatus-request-id": "63f57c38-7cfc-4acf-9ca2-492bff06ef1e"}, "status": {"message": "OK", "code": 200}, "url": "https://status.github.com/api/last-message.json"}, "recorded_at": "2016-01-16T17:47:17"}], "recorded_with": "betamax/0.5.0"}