{"recorded_with": "betamax/0.8.0", "http_interactions": [{"response": {"url": "https://uploads.github.com/repos/sigmavirus24/github3.py/releases/5433606/assets?name=test_repos_release.py", "headers": {"X-Oauth-Scopes": "admin:gpg_key, admin:org, admin:org_hook, admin:public_key, admin:repo_hook, delete_repo, gist, notifications, repo, user", "X-Github-Media-Type": "github.v3; param=full; format=json", "Last-Modified": "Sun, 12 Feb 2017 19:54:50 GMT", "Etag": "W/\"a3210858ddc89498d1421a53300c4093\"", "Content-Type": "application/json; charset=utf-8"}, "status": {"code": 201, "message": "Created"}, "body": {"string": "{\"url\":\"https://api.github.com/repos/sigmavirus24/github3.py/releases/assets/3177415\",\"id\":3177415,\"name\":\"test_repos_release.py\",\"label\":\"\",\"uploader\":{\"login\":\"sigmavirus24\",\"id\":240830,\"avatar_url\":\"https://avatars.githubusercontent.com/u/240830?v=3\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/sigmavirus24\",\"html_url\":\"https://github.com/sigmavirus24\",\"followers_url\":\"https://api.github.com/users/sigmavirus24/followers\",\"following_url\":\"https://api.github.com/users/sigmavirus24/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/sigmavirus24/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/sigmavirus24/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/sigmavirus24/subscriptions\",\"organizations_url\":\"https://api.github.com/users/sigmavirus24/orgs\",\"repos_url\":\"https://api.github.com/users/sigmavirus24/repos\",\"events_url\":\"https://api.github.com/users/sigmavirus24/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/sigmavirus24/received_events\",\"type\":\"User\",\"site_admin\":false},\"content_type\":\"text/plain\",\"state\":\"uploaded\",\"size\":11,\"download_count\":0,\"created_at\":\"2017-02-12T19:54:50Z\",\"updated_at\":\"2017-02-12T19:54:50Z\",\"browser_download_url\":\"https://github.com/sigmavirus24/github3.py/releases/download/0.8.0.pre/test_repos_release.py\"}", "encoding": "utf-8"}}, "request": {"headers": {"Authorization": "token <AUTH_TOKEN>", "Content-Type": "text/plain"}, "uri": "https://uploads.github.com/repos/sigmavirus24/github3.py/releases/5433606/assets?name=test_repos_release.py", "method": "POST", "body": {"string": "Hello World", "encoding": "utf-8"}}, "recorded_at": "2017-02-12T19:54:51"}, {"response": {"url": "https://api.github.com/repos/sigmavirus24/github3.py/releases/5433606", "headers": {"X-RateLimit-Remaining": "4988", "X-OAuth-Scopes": "admin:gpg_key, admin:org, admin:org_hook, admin:public_key, admin:repo_hook, delete_repo, gist, notifications, repo, user", "Status": "204 No Content", "X-RateLimit-Limit": "5000", "X-RateLimit-Reset": "1486932004", "X-Accepted-OAuth-Scopes": "", "X-GitHub-Media-Type": "github.v3; param=manifold-preview"}, "status": {"code": 204, "message": "No Content"}, "body": {"string": "", "encoding": null}}, "request": {"headers": {"Authorization": "token <AUTH_TOKEN>", "Content-Type": "application/json"}, "uri": "https://api.github.com/repos/sigmavirus24/github3.py/releases/5433606", "method": "DELETE", "body": {"string": "", "encoding": "utf-8"}}, "recorded_at": "2017-02-12T19:54:51"}]}