{"http_interactions": [{"request": {"body": {"string": "Hello World", "encoding": "utf-8"}, "headers": {"Content-Type": "text/plain", "Authorization": "token <AUTH_TOKEN>"}, "method": "POST", "uri": "https://uploads.github.com/repos/itsmemattchung/github3.py/releases/2395529/assets?name=test_repos_release.py&label=test-label"}, "response": {"body": {"string": "{\"url\":\"https://api.github.com/repos/itsmemattchung/github3.py/releases/assets/1193509\",\"id\":1193509,\"name\":\"test_repos_release.py\",\"label\":\"test-label\",\"uploader\":{\"login\":\"itsmemattchung\",\"id\":7358102,\"avatar_url\":\"https://avatars.githubusercontent.com/u/7358102?v=3\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/itsmemattchung\",\"html_url\":\"https://github.com/itsmemattchung\",\"followers_url\":\"https://api.github.com/users/itsmemattchung/followers\",\"following_url\":\"https://api.github.com/users/itsmemattchung/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/itsmemattchung/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/itsmemattchung/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/itsmemattchung/subscriptions\",\"organizations_url\":\"https://api.github.com/users/itsmemattchung/orgs\",\"repos_url\":\"https://api.github.com/users/itsmemattchung/repos\",\"events_url\":\"https://api.github.com/users/itsmemattchung/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/itsmemattchung/received_events\",\"type\":\"User\",\"site_admin\":false},\"content_type\":\"text/plain\",\"state\":\"uploaded\",\"size\":11,\"download_count\":0,\"created_at\":\"2016-01-08T17:08:09Z\",\"updated_at\":\"2016-01-08T17:08:09Z\",\"browser_download_url\":\"https://github.com/itsmemattchung/github3.py/releases/download/0.8.0.pre/test_repos_release.py\"}", "encoding": "utf-8"}, "headers": {"x-github-media-type": "github.v3; param=full; format=json", "last-modified": "Fri, 08 Jan 2016 17:08:09 GMT", "etag": "W/\"1cbd8d624473ff56ceb77f42d85c47a2\"", "content-type": "application/json; charset=utf-8", "x-oauth-scopes": "admin:public_key, gist, repo, user"}, "status": {"message": "Created", "code": 201}, "url": "https://uploads.github.com/repos/itsmemattchung/github3.py/releases/2395529/assets?name=test_repos_release.py&label=test-label"}, "recorded_at": "2016-01-08T17:08:08"}, {"request": {"body": {"string": "", "encoding": "utf-8"}, "headers": {"Content-Type": "application/json", "Authorization": "token <AUTH_TOKEN>"}, "method": "DELETE", "uri": "https://api.github.com/repos/itsmemattchung/github3.py/releases/2395529"}, "response": {"body": {"string": "", "encoding": null}, "headers": {"status": "204 No Content", "x-ratelimit-remaining": "4964", "x-github-media-type": "github.v3; param=manifold-preview", "x-ratelimit-limit": "5000", "x-oauth-scopes": "admin:public_key, gist, repo, user", "x-accepted-oauth-scopes": "", "x-ratelimit-reset": "1452273179"}, "status": {"message": "No Content", "code": 204}, "url": "https://api.github.com/repos/itsmemattchung/github3.py/releases/2395529"}, "recorded_at": "2016-01-08T17:08:09"}], "recorded_with": "betamax/0.5.0"}