{"http_interactions": [{"request": {"body": {"encoding": "utf-8", "string": "Hello World"}, "headers": {"Content-Type": "text/plain", "Authorization": "token <AUTH_TOKEN>"}, "method": "POST", "uri": "https://uploads.github.com/repos/sigmavirus24/github3.py/releases/9073931/assets?name=test_repos_release.py&label=test-label"}, "response": {"body": {"encoding": "utf-8", "string": "{\"url\":\"https://api.github.com/repos/sigmavirus24/github3.py/releases/assets/5754367\",\"id\":5754367,\"name\":\"test_repos_release.py\",\"label\":\"test-label\",\"uploader\":{\"login\":\"sigmavirus24\",\"id\":240830,\"avatar_url\":\"https://avatars3.githubusercontent.com/u/240830?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/sigmavirus24\",\"html_url\":\"https://github.com/sigmavirus24\",\"followers_url\":\"https://api.github.com/users/sigmavirus24/followers\",\"following_url\":\"https://api.github.com/users/sigmavirus24/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/sigmavirus24/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/sigmavirus24/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/sigmavirus24/subscriptions\",\"organizations_url\":\"https://api.github.com/users/sigmavirus24/orgs\",\"repos_url\":\"https://api.github.com/users/sigmavirus24/repos\",\"events_url\":\"https://api.github.com/users/sigmavirus24/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/sigmavirus24/received_events\",\"type\":\"User\",\"site_admin\":false},\"content_type\":\"text/plain\",\"state\":\"uploaded\",\"size\":11,\"download_count\":0,\"created_at\":\"2018-01-01T20:16:58Z\",\"updated_at\":\"2018-01-01T20:16:59Z\",\"browser_download_url\":\"https://github.com/sigmavirus24/github3.py/releases/download/0.8.0.pre/test_repos_release.py\"}"}, "headers": {"Content-Type": "application/json; charset=utf-8", "Etag": "W/\"3bfc1123a3bee3f3604d8a2671dd88b8\"", "Last-Modified": "Mon, 01 Jan 2018 20:16:59 GMT", "X-Github-Media-Type": "github.v3; param=full; format=json", "X-Oauth-Scopes": "admin:gpg_key, admin:org, admin:org_hook, admin:public_key, admin:repo_hook, delete_repo, gist, notifications, repo, user"}, "status": {"code": 201, "message": "Created"}, "url": "https://uploads.github.com/repos/sigmavirus24/github3.py/releases/9073931/assets?name=test_repos_release.py&label=test-label"}, "recorded_at": "2018-01-01T20:17:00"}, {"request": {"body": {"encoding": "utf-8", "string": ""}, "headers": {"Content-Type": "application/json", "Authorization": "token <AUTH_TOKEN>"}, "method": "DELETE", "uri": "https://api.github.com/repos/sigmavirus24/github3.py/releases/9073931"}, "response": {"body": {"encoding": null, "string": ""}, "headers": {"Content-Type": "application/octet-stream", "Status": "204 No Content", "X-RateLimit-Limit": "5000", "X-RateLimit-Remaining": "4961", "X-RateLimit-Reset": "1514840801", "X-OAuth-Scopes": "admin:gpg_key, admin:org, admin:org_hook, admin:public_key, admin:repo_hook, delete_repo, gist, notifications, repo, user", "X-Accepted-OAuth-Scopes": "", "X-GitHub-Media-Type": "github.v3; param=manifold-preview"}, "status": {"code": 204, "message": "No Content"}, "url": "https://api.github.com/repos/sigmavirus24/github3.py/releases/9073931"}, "recorded_at": "2018-01-01T20:17:00"}], "recorded_with": "betamax/0.8.0"}