{"http_interactions": [{"request": {"body": {"encoding": "utf-8", "string": "{\"name\": \"gh3test\", \"description\": \"delete-me-in-seconds\", \"homepage\": \"\", \"private\": false, \"has_issues\": true, \"has_wiki\": true, \"auto_init\": false, \"gitignore_template\": \"\"}"}, "headers": {"Content-Type": "application/json", "Authorization": "Basic <BASIC_AUTH>"}, "method": "POST", "uri": "https://api.github.com/user/repos"}, "response": {"body": {"encoding": "utf-8", "string": "{\"id\":116028073,\"name\":\"gh3test\",\"full_name\":\"gh3test/gh3test\",\"owner\":{\"login\":\"gh3test\",\"id\":2354350,\"avatar_url\":\"https://avatars2.githubusercontent.com/u/2354350?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/gh3test\",\"html_url\":\"https://github.com/gh3test\",\"followers_url\":\"https://api.github.com/users/gh3test/followers\",\"following_url\":\"https://api.github.com/users/gh3test/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/gh3test/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/gh3test/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/gh3test/subscriptions\",\"organizations_url\":\"https://api.github.com/users/gh3test/orgs\",\"repos_url\":\"https://api.github.com/users/gh3test/repos\",\"events_url\":\"https://api.github.com/users/gh3test/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/gh3test/received_events\",\"type\":\"User\",\"site_admin\":false},\"private\":false,\"html_url\":\"https://github.com/gh3test/gh3test\",\"description\":\"delete-me-in-seconds\",\"fork\":false,\"url\":\"https://api.github.com/repos/gh3test/gh3test\",\"forks_url\":\"https://api.github.com/repos/gh3test/gh3test/forks\",\"keys_url\":\"https://api.github.com/repos/gh3test/gh3test/keys{/key_id}\",\"collaborators_url\":\"https://api.github.com/repos/gh3test/gh3test/collaborators{/collaborator}\",\"teams_url\":\"https://api.github.com/repos/gh3test/gh3test/teams\",\"hooks_url\":\"https://api.github.com/repos/gh3test/gh3test/hooks\",\"issue_events_url\":\"https://api.github.com/repos/gh3test/gh3test/issues/events{/number}\",\"events_url\":\"https://api.github.com/repos/gh3test/gh3test/events\",\"assignees_url\":\"https://api.github.com/repos/gh3test/gh3test/assignees{/user}\",\"branches_url\":\"https://api.github.com/repos/gh3test/gh3test/branches{/branch}\",\"tags_url\":\"https://api.github.com/repos/gh3test/gh3test/tags\",\"blobs_url\":\"https://api.github.com/repos/gh3test/gh3test/git/blobs{/sha}\",\"git_tags_url\":\"https://api.github.com/repos/gh3test/gh3test/git/tags{/sha}\",\"git_refs_url\":\"https://api.github.com/repos/gh3test/gh3test/git/refs{/sha}\",\"trees_url\":\"https://api.github.com/repos/gh3test/gh3test/git/trees{/sha}\",\"statuses_url\":\"https://api.github.com/repos/gh3test/gh3test/statuses/{sha}\",\"languages_url\":\"https://api.github.com/repos/gh3test/gh3test/languages\",\"stargazers_url\":\"https://api.github.com/repos/gh3test/gh3test/stargazers\",\"contributors_url\":\"https://api.github.com/repos/gh3test/gh3test/contributors\",\"subscribers_url\":\"https://api.github.com/repos/gh3test/gh3test/subscribers\",\"subscription_url\":\"https://api.github.com/repos/gh3test/gh3test/subscription\",\"commits_url\":\"https://api.github.com/repos/gh3test/gh3test/commits{/sha}\",\"git_commits_url\":\"https://api.github.com/repos/gh3test/gh3test/git/commits{/sha}\",\"comments_url\":\"https://api.github.com/repos/gh3test/gh3test/comments{/number}\",\"issue_comment_url\":\"https://api.github.com/repos/gh3test/gh3test/issues/comments{/number}\",\"contents_url\":\"https://api.github.com/repos/gh3test/gh3test/contents/{+path}\",\"compare_url\":\"https://api.github.com/repos/gh3test/gh3test/compare/{base}...{head}\",\"merges_url\":\"https://api.github.com/repos/gh3test/gh3test/merges\",\"archive_url\":\"https://api.github.com/repos/gh3test/gh3test/{archive_format}{/ref}\",\"downloads_url\":\"https://api.github.com/repos/gh3test/gh3test/downloads\",\"issues_url\":\"https://api.github.com/repos/gh3test/gh3test/issues{/number}\",\"pulls_url\":\"https://api.github.com/repos/gh3test/gh3test/pulls{/number}\",\"milestones_url\":\"https://api.github.com/repos/gh3test/gh3test/milestones{/number}\",\"notifications_url\":\"https://api.github.com/repos/gh3test/gh3test/notifications{?since,all,participating}\",\"labels_url\":\"https://api.github.com/repos/gh3test/gh3test/labels{/name}\",\"releases_url\":\"https://api.github.com/repos/gh3test/gh3test/releases{/id}\",\"deployments_url\":\"https://api.github.com/repos/gh3test/gh3test/deployments\",\"created_at\":\"2018-01-02T15:15:31Z\",\"updated_at\":\"2018-01-02T15:15:31Z\",\"pushed_at\":\"2018-01-02T15:15:31Z\",\"git_url\":\"git://github.com/gh3test/gh3test.git\",\"ssh_url\":\"git@github.com:gh3test/gh3test.git\",\"clone_url\":\"https://github.com/gh3test/gh3test.git\",\"svn_url\":\"https://github.com/gh3test/gh3test\",\"homepage\":\"\",\"size\":0,\"stargazers_count\":0,\"watchers_count\":0,\"language\":null,\"has_issues\":true,\"has_projects\":true,\"has_downloads\":true,\"has_wiki\":true,\"has_pages\":false,\"forks_count\":0,\"mirror_url\":null,\"archived\":false,\"open_issues_count\":0,\"license\":null,\"forks\":0,\"open_issues\":0,\"watchers\":0,\"default_branch\":\"master\",\"permissions\":{\"admin\":true,\"push\":true,\"pull\":true},\"allow_squash_merge\":true,\"allow_merge_commit\":true,\"allow_rebase_merge\":true,\"network_count\":0,\"subscribers_count\":0}"}, "headers": {"Content-Type": "application/json; charset=utf-8", "Status": "201 Created", "X-RateLimit-Limit": "5000", "X-RateLimit-Remaining": "4993", "X-RateLimit-Reset": "1514908469", "ETag": "\"67b022305f639157e31ce6bc350bab6d\"", "Location": "https://api.github.com/repos/gh3test/gh3test", "X-GitHub-Media-Type": "github.v3; param=full; format=json"}, "status": {"code": 201, "message": "Created"}, "url": "https://api.github.com/user/repos"}, "recorded_at": "2018-01-02T15:15:31"}, {"request": {"body": {"encoding": "utf-8", "string": ""}, "headers": {"Content-Type": "application/json", "Authorization": "Basic <BASIC_AUTH>"}, "method": "DELETE", "uri": "https://api.github.com/repos/gh3test/gh3test"}, "response": {"body": {"encoding": null, "string": ""}, "headers": {"Content-Type": "application/octet-stream", "Status": "204 No Content", "X-RateLimit-Limit": "5000", "X-RateLimit-Remaining": "4992", "X-RateLimit-Reset": "1514908469", "X-GitHub-Media-Type": "github.v3; param=full; format=json"}, "status": {"code": 204, "message": "No Content"}, "url": "https://api.github.com/repos/gh3test/gh3test"}, "recorded_at": "2018-01-02T15:15:31"}], "recorded_with": "betamax/0.8.0"}