{"http_interactions": [{"request": {"body": {"encoding": "utf-8", "string": "{\"name\": \"testgh3py\", \"description\": \"test_import\", \"homepage\": \"\", \"private\": false, \"has_issues\": true, \"has_wiki\": true, \"auto_init\": false, \"gitignore_template\": \"\"}"}, "headers": {"Content-Type": "application/json", "Authorization": "token <AUTH_TOKEN>"}, "method": "POST", "uri": "https://api.github.com/user/repos"}, "response": {"body": {"encoding": "utf-8", "string": "{\"id\":116318224,\"name\":\"testgh3py\",\"full_name\":\"sigmavirus24/testgh3py\",\"owner\":{\"login\":\"sigmavirus24\",\"id\":240830,\"avatar_url\":\"https://avatars3.githubusercontent.com/u/240830?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/sigmavirus24\",\"html_url\":\"https://github.com/sigmavirus24\",\"followers_url\":\"https://api.github.com/users/sigmavirus24/followers\",\"following_url\":\"https://api.github.com/users/sigmavirus24/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/sigmavirus24/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/sigmavirus24/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/sigmavirus24/subscriptions\",\"organizations_url\":\"https://api.github.com/users/sigmavirus24/orgs\",\"repos_url\":\"https://api.github.com/users/sigmavirus24/repos\",\"events_url\":\"https://api.github.com/users/sigmavirus24/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/sigmavirus24/received_events\",\"type\":\"User\",\"site_admin\":false},\"private\":false,\"html_url\":\"https://github.com/sigmavirus24/testgh3py\",\"description\":\"test_import\",\"fork\":false,\"url\":\"https://api.github.com/repos/sigmavirus24/testgh3py\",\"forks_url\":\"https://api.github.com/repos/sigmavirus24/testgh3py/forks\",\"keys_url\":\"https://api.github.com/repos/sigmavirus24/testgh3py/keys{/key_id}\",\"collaborators_url\":\"https://api.github.com/repos/sigmavirus24/testgh3py/collaborators{/collaborator}\",\"teams_url\":\"https://api.github.com/repos/sigmavirus24/testgh3py/teams\",\"hooks_url\":\"https://api.github.com/repos/sigmavirus24/testgh3py/hooks\",\"issue_events_url\":\"https://api.github.com/repos/sigmavirus24/testgh3py/issues/events{/number}\",\"events_url\":\"https://api.github.com/repos/sigmavirus24/testgh3py/events\",\"assignees_url\":\"https://api.github.com/repos/sigmavirus24/testgh3py/assignees{/user}\",\"branches_url\":\"https://api.github.com/repos/sigmavirus24/testgh3py/branches{/branch}\",\"tags_url\":\"https://api.github.com/repos/sigmavirus24/testgh3py/tags\",\"blobs_url\":\"https://api.github.com/repos/sigmavirus24/testgh3py/git/blobs{/sha}\",\"git_tags_url\":\"https://api.github.com/repos/sigmavirus24/testgh3py/git/tags{/sha}\",\"git_refs_url\":\"https://api.github.com/repos/sigmavirus24/testgh3py/git/refs{/sha}\",\"trees_url\":\"https://api.github.com/repos/sigmavirus24/testgh3py/git/trees{/sha}\",\"statuses_url\":\"https://api.github.com/repos/sigmavirus24/testgh3py/statuses/{sha}\",\"languages_url\":\"https://api.github.com/repos/sigmavirus24/testgh3py/languages\",\"stargazers_url\":\"https://api.github.com/repos/sigmavirus24/testgh3py/stargazers\",\"contributors_url\":\"https://api.github.com/repos/sigmavirus24/testgh3py/contributors\",\"subscribers_url\":\"https://api.github.com/repos/sigmavirus24/testgh3py/subscribers\",\"subscription_url\":\"https://api.github.com/repos/sigmavirus24/testgh3py/subscription\",\"commits_url\":\"https://api.github.com/repos/sigmavirus24/testgh3py/commits{/sha}\",\"git_commits_url\":\"https://api.github.com/repos/sigmavirus24/testgh3py/git/commits{/sha}\",\"comments_url\":\"https://api.github.com/repos/sigmavirus24/testgh3py/comments{/number}\",\"issue_comment_url\":\"https://api.github.com/repos/sigmavirus24/testgh3py/issues/comments{/number}\",\"contents_url\":\"https://api.github.com/repos/sigmavirus24/testgh3py/contents/{+path}\",\"compare_url\":\"https://api.github.com/repos/sigmavirus24/testgh3py/compare/{base}...{head}\",\"merges_url\":\"https://api.github.com/repos/sigmavirus24/testgh3py/merges\",\"archive_url\":\"https://api.github.com/repos/sigmavirus24/testgh3py/{archive_format}{/ref}\",\"downloads_url\":\"https://api.github.com/repos/sigmavirus24/testgh3py/downloads\",\"issues_url\":\"https://api.github.com/repos/sigmavirus24/testgh3py/issues{/number}\",\"pulls_url\":\"https://api.github.com/repos/sigmavirus24/testgh3py/pulls{/number}\",\"milestones_url\":\"https://api.github.com/repos/sigmavirus24/testgh3py/milestones{/number}\",\"notifications_url\":\"https://api.github.com/repos/sigmavirus24/testgh3py/notifications{?since,all,participating}\",\"labels_url\":\"https://api.github.com/repos/sigmavirus24/testgh3py/labels{/name}\",\"releases_url\":\"https://api.github.com/repos/sigmavirus24/testgh3py/releases{/id}\",\"deployments_url\":\"https://api.github.com/repos/sigmavirus24/testgh3py/deployments\",\"created_at\":\"2018-01-04T23:36:05Z\",\"updated_at\":\"2018-01-04T23:36:05Z\",\"pushed_at\":\"2018-01-04T23:36:06Z\",\"git_url\":\"git://github.com/sigmavirus24/testgh3py.git\",\"ssh_url\":\"git@github.com:sigmavirus24/testgh3py.git\",\"clone_url\":\"https://github.com/sigmavirus24/testgh3py.git\",\"svn_url\":\"https://github.com/sigmavirus24/testgh3py\",\"homepage\":\"\",\"size\":0,\"stargazers_count\":0,\"watchers_count\":0,\"language\":null,\"has_issues\":true,\"has_projects\":true,\"has_downloads\":true,\"has_wiki\":true,\"has_pages\":false,\"forks_count\":0,\"mirror_url\":null,\"archived\":false,\"open_issues_count\":0,\"license\":null,\"forks\":0,\"open_issues\":0,\"watchers\":0,\"default_branch\":\"master\",\"permissions\":{\"admin\":true,\"push\":true,\"pull\":true},\"allow_squash_merge\":true,\"allow_merge_commit\":true,\"allow_rebase_merge\":true,\"network_count\":0,\"subscribers_count\":0}"}, "headers": {"Content-Type": "application/json; charset=utf-8", "Status": "201 Created", "X-RateLimit-Limit": "5000", "X-RateLimit-Remaining": "4988", "X-RateLimit-Reset": "1515110963", "ETag": "\"c18dd1cb7e700c19071d76a44b7e43af\"", "X-OAuth-Scopes": "admin:gpg_key, admin:org, admin:org_hook, admin:public_key, admin:repo_hook, delete_repo, gist, notifications, repo, user", "X-Accepted-OAuth-Scopes": "public_repo, repo", "Location": "https://api.github.com/repos/sigmavirus24/testgh3py", "X-GitHub-Media-Type": "github.v3; param=full; format=json"}, "status": {"code": 201, "message": "Created"}, "url": "https://api.github.com/user/repos"}, "recorded_at": "2018-01-04T23:36:06"}, {"request": {"body": {"encoding": "utf-8", "string": "{\"issue\": {\"title\": \"foo\", \"body\": \"bar\", \"created_at\": \"2014-03-16T17:15:42Z\"}}"}, "headers": {"Content-Type": "application/json", "Authorization": "token <AUTH_TOKEN>"}, "method": "POST", "uri": "https://api.github.com/repos/sigmavirus24/testgh3py/import/issues"}, "response": {"body": {"encoding": "utf-8", "string": "{\"id\":1529961,\"status\":\"pending\",\"url\":\"https://api.github.com/repos/sigmavirus24/testgh3py/import/issues/1529961\",\"import_issues_url\":\"https://api.github.com/repos/sigmavirus24/testgh3py/import/issues\",\"repository_url\":\"https://api.github.com/repos/sigmavirus24/testgh3py\",\"created_at\":\"2018-01-04T17:36:06-06:00\",\"updated_at\":\"2018-01-04T17:36:06-06:00\"}"}, "headers": {"Content-Type": "application/json; charset=utf-8", "Status": "202 Accepted", "X-RateLimit-Limit": "5000", "X-RateLimit-Remaining": "4987", "X-RateLimit-Reset": "1515110963", "X-OAuth-Scopes": "admin:gpg_key, admin:org, admin:org_hook, admin:public_key, admin:repo_hook, delete_repo, gist, notifications, repo, user", "X-Accepted-OAuth-Scopes": "", "X-GitHub-Media-Type": "github.golden-comet-preview; format=json"}, "status": {"code": 202, "message": "Accepted"}, "url": "https://api.github.com/repos/sigmavirus24/testgh3py/import/issues"}, "recorded_at": "2018-01-04T23:36:06"}, {"request": {"body": {"encoding": "utf-8", "string": ""}, "headers": {"Content-Type": "application/json", "Authorization": "token <AUTH_TOKEN>"}, "method": "DELETE", "uri": "https://api.github.com/repos/sigmavirus24/testgh3py"}, "response": {"body": {"encoding": null, "string": ""}, "headers": {"Content-Type": "application/octet-stream", "Status": "204 No Content", "X-RateLimit-Limit": "5000", "X-RateLimit-Remaining": "4986", "X-RateLimit-Reset": "1515110963", "X-OAuth-Scopes": "admin:gpg_key, admin:org, admin:org_hook, admin:public_key, admin:repo_hook, delete_repo, gist, notifications, repo, user", "X-Accepted-OAuth-Scopes": "delete_repo", "X-GitHub-Media-Type": "github.v3; param=full; format=json"}, "status": {"code": 204, "message": "No Content"}, "url": "https://api.github.com/repos/sigmavirus24/testgh3py"}, "recorded_at": "2018-01-04T23:36:06"}], "recorded_with": "betamax/0.8.0"}