{"recorded_with": "betamax/0.8.0", "http_interactions": [{"response": {"body": {"string": "{\"message\":\"Bad credentials\",\"documentation_url\":\"https://developer.github.com/v3\"}", "encoding": "utf-8"}, "headers": {"X-RateLimit-Limit": "60", "X-RateLimit-Reset": "1496099157", "Content-Type": "application/json; charset=utf-8", "X-RateLimit-Remaining": "38", "X-GitHub-Media-Type": "github.drax-preview; format=json", "Status": "401 Unauthorized"}, "url": "https://api.github.com/repos/github3py/github3.py", "status": {"code": 401, "message": "Unauthorized"}}, "recorded_at": "2017-05-29T22:06:01", "request": {"uri": "https://api.github.com/repos/github3py/github3.py", "body": {"string": "", "encoding": "utf-8"}, "method": "GET", "headers": {"Authorization": "Basic <BASIC_AUTH>", "Content-Type": "application/json"}}}]}