{"http_interactions": [{"request": {"body": {"string": "", "encoding": "utf-8"}, "headers": {"Content-Type": "application/json", "Authorization": "Basic <BASIC_AUTH>"}, "method": "GET", "uri": "https://api.github.com/repos/sigmavirus24/github3.py"}, "response": {"body": {"string": "{\"message\":\"Bad credentials\",\"documentation_url\":\"https://developer.github.com/v3\"}", "encoding": "utf-8"}, "headers": {"status": "401 Unauthorized", "x-ratelimit-remaining": "58", "x-github-media-type": "github.v3; param=full; format=json", "x-ratelimit-limit": "60", "content-type": "application/json; charset=utf-8", "x-ratelimit-reset": "1414500214"}, "status": {"message": "Unauthorized", "code": 401}, "url": "https://api.github.com/repos/sigmavirus24/github3.py"}, "recorded_at": "2014-10-28T11:55:42"}], "recorded_with": "betamax/0.4.1"}