Source: github3.py
Maintainer: Dennis Kaarsemaker <dennis@kaarsemaker.net>
Section: python
Priority: optional
Build-Depends: debhelper, python-all,  python-setuptools,  python-requests (>= 2.0.0),  python-uritemplate.py,
                          python3-all, python3-setuptools, python3-requests (>= 2.0.0), python3-uritemplate.py
Standards-Version: 3.9.3
X-Python-Version: >= 2.6
X-Python3-Version: >= 3.0
Homepage: http://github3py.readthedocs.org/

Package: python-github3.py
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}, python-urllib3 (>= 1.7.1), python-requests (>= 2.0.0)
Description: Comprehensive wrapper around the GitHub v3 API
 Comprehensive wrapper around the GitHub v3 API

Package: python3-github3.py
Architecture: all
Depends: ${misc:Depends}, ${python3:Depends}, python3-urllib3 (>= 1.7.1), python-requests (>= 2.0.0)
Description: Comprehensive wrapper around the GitHub v3 API
 Comprehensive wrapper around the GitHub v3 API
 .
 This package contains the Python 3 version of the library.
