name: Python tests

on: [push, pull_request]

permissions:
  contents: read

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python:
          - { VERSION: "3.9", TOXENV: "py39", ALLOW_FAILURE: false }
          - { VERSION: "3.10", TOXENV: "py310", ALLOW_FAILURE: false }
          - { VERSION: "3.11", TOXENV: "py311", ALLOW_FAILURE: false }
          - { VERSION: "3.12", TOXENV: "py312", ALLOW_FAILURE: false }
          - { VERSION: "3.13", TOXENV: "py313", ALLOW_FAILURE: false }
          - {
              VERSION: "3.13",
              TOXENV: "flake8,doclint,docs,commitlint",
              ALLOW_FAILURE: false,
            }
          - { VERSION: "3.13", TOXENV: "docstrings", ALLOW_FAILURE: true }
          - { VERSION: "pypy3.9", TOXENV: "pypy", ALLOW_FAILURE: false }

    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
        with:
          egress-policy: audit

      - name: Check out the repository
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1

      - name: Setup Python
        uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # v6.0.0
        with:
          python-version: ${{ matrix.PYTHON.VERSION }}

      - name: Upgrade pip
        run: |
          pip install pip
          pip --version

      - name: Install Tox
        run: |
          pip install tox
          tox --version

      - name: Run Tox
        run: tox
        env:
          TOXENV: ${{ matrix.PYTHON.TOXENV }}
          GH_RECORD_MODE: "none"
        continue-on-error: ${{ matrix.PYTHON.ALLOW_FAILURE }}
